Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Remove redundant imports.
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

9.0.1 Devnet release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Review comments
  CHANGELOG.md
Due: none

Remove copy.sh
  scripts/bootstrapper/copy.sh
Due: none

Don't copy copy.sh
  scripts/bootstrapper/Dockerfile
Due: none

Update concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address some review comments.
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More renaming.
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

github: linux-build: decouple node packaging from network configuration
  .github/workflows/release.yaml
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/changelog
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.config
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.install
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.templates
  scripts/distribution/ubuntu-packages/template/debian/control
  scripts/distribution/ubuntu-packages/template/debian/postinst
  scripts/distribution/ubuntu-packages/template/debian/rules
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replace TransactionAndAssertion with BlockItemAndAssertion.
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V0/RelaxedRestrictions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V0/SmartContractTests.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Caller.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Counter.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/CrossMessaging.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InspectModuleReferenceAndContractName.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Iterator.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/P6WasmFeatures.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Recorder.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/RelaxedRestrictions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Upgrading.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransfersWithScheduleTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replace token symbol with token id
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-709: Support for charging energy
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

A bit more documentation.
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

delay CBOR encoding of errors to scheduler
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix unit tests
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes after refactor
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Account.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/AccountsMigrationP6ToP7.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Renaming
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
  concordium-node/Cargo.lock
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle PLT event generation
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Testing.
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Refactoring.
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix token governance
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle metadata url changes in base
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Adapt unit tests to type changes
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

..
  concordium-node/Cargo.lock
Due: none

Remove `parallel` from test execution.
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

readme update
  concordium-node/README.md
Due: none

review edits
  concordium-node/README.md
Due: none

Info on generating the genesis file for a local machine node. (#1397)
  concordium-node/README.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update Cargo.lock
  concordium-node/Cargo.lock
Due: none

COR-709: Support for charging energy
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Separate ChainParametersVersion and AuthorizationsVersion.
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Payday.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support CreatePLT auth.
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-709: Support for charging energy (#1394)
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

9.0.2 DevNet release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove use of PTProtocolLevelTokensParameters.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump base and cover cover auv2 cases.
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
