Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Ensure `entry-size` runs in constant time
  CHANGELOG.md
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateFFIHelpers.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlobStore.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlockHash.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InvokeHelpers.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Preserve async execution of timers, even when expired
  concordium-consensus/src/Concordium/TimerMonad/Internal.hs
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add PLT migration unit test (red)
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix p10->p11 plt migration
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens/RustPLTBlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ensure to update the blobstore at end position flag
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support only reading blobstore range
  CHANGELOG.md
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateFFIHelpers.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlobStore.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting and update base
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Amend test with assertions on entire token state
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address PR comments
  concordium-consensus/src/Concordium/TimerMonad/Internal.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Chunk huge timeouts in `TimerMonad`
  concordium-consensus/src/Concordium/TimerMonad.hs
  concordium-consensus/src/Concordium/TimerMonad/Internal.hs
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add test with `DelayFor` used to schedule the callback
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add unit test for thread timer
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Refactor timerbackend abstraction
  concordium-consensus/src/Concordium/TimerMonad.hs
  concordium-consensus/src/Concordium/TimerMonad/Internal.hs
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Prepare release 10.0.11 candidate
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix release-build pipeline
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Limit CBOR nesting
  plt/plt-block-state/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Dedupe lock grant roles when stored
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Ensure canonicalized repr. of lock grants
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/tests/lock_cancel.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_return.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Ensure persistent state types only represent variants that can serialize
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Clean up
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Refactor persistent locks state to trie
  plt/plt-block-state/src/entity/block_state/p11.rs
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/smart_contract_trie.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix haskell tests
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup
  plt/plt-block-state/src/entity/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/scheduler/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Prepare for public 10.0.11 release
  .gitmodules
Due: none

Fix CI/CD tokens
  .github/workflows/build-test.yaml
  .github/workflows/cargo-deny-matrix.yaml
  .github/workflows/deployment-build-test.yaml
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Diagnose release failure
  .github/workflows/release.yaml
  scripts/distribution/macOS-package/build.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Pin LMDB version
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add release environment
  .github/workflows/release.yaml
  scripts/distribution/macOS-package/build.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Pin windows lmdb version
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Flatten lock config
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update base ref
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Pin macos runner image
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

cleanup
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
