Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Download catchup file into a robustly constructed temporary file.
  CHANGELOG.md
  concordium-node/Cargo.toml
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use EagerBufferedRef in PersistentAccountEncryptedAmount
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Don't store hashes with persistent accounts. Lazily hash persistent account refs.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountTable.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump tonic (#445)
  .github/workflows/build-test.yaml
  collector-backend/Cargo.toml
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused runtime parameter from the node.
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-base
  concordium-node/Cargo.lock
Due: none

Regenerate lock file after dependency changes.
  collector-backend/Cargo.lock
Due: none

Addressing comments.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Cache.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Payday.hs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clarified docstrings for out-of-band catchup configuration
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Alternative HashedCachedRef.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid unnecessary writes of the release schedule and encrypted amount on accounts.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-base and use smart-contracts from base
  .gitmodules
  concordium-consensus/Setup.hs
  concordium-consensus/package.yaml
  concordium-consensus/stack.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments.
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove redundant `IsProtocolVersion` constraint (implied by `SupportsPersistentAccount`).
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addressing review comments.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update path of `smart-contracts` in build scripts
  concordium-consensus/stack.static.yaml
  scripts/database-exporter/Dockerfile
  scripts/static-libraries/build-static-libraries.sh
  stack.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix paired block state by adding `getAccountHash` to `AccountOperations`.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added incremental treestate export
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix collector lock file.
  collector-backend/Cargo.lock
Due: none

Fix incorrect accounting in nested contract calls.
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add regression test for the contract accounting bug.
  concordium-consensus/testdata/contracts/v1/self-balance-nested.wasm
  concordium-consensus/testdata/contracts/v1/self-balance-nested.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/SelfBalance.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Let getCurrentContractAmount take only the address.
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add 4.2.3 to the changelog.
  CHANGELOG.md
Due: none

Remove unintended Cargo.toml changes.
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Factor out the large catchup handling block.
  concordium-node/src/bin/cli.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix changelog.
  CHANGELOG.md
Due: none

Bump version to 4.3.0
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix incorrectly removed startConsensus argument.
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Towards checking pending blocks.
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/Kontrol/UpdateLeaderElectionParameters.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Chunk name versioning when a chunk with a given name exists
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/tools/database-exporter/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

README improvements
  concordium-consensus/README.md
  concordium-consensus/tools/database-exporter/README.md
Due: none

README improvements, bis
  concordium-consensus/tools/database-exporter/README.md
Due: none

Initial draft
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
