Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix missing pragmas
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Towards testing uponReceivingBlock.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Catcup note.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

First version of uponReceivingTimeoutMessage
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Commit missing line.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Timeout tests
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Timeout tests
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend reporter metrics with recently connected peer counts.
  CHANGELOG.md
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Naming.
  concordium-node/src/network/buckets.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Testing for block verification.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/TimerMonad.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/Spec.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlockHash.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Re-enable tests.
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Review comments.
  CHANGELOG.md
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove bootstrapper bug from changelog.
  CHANGELOG.md
Due: none

Style changes.
  concordium-node/src/network/buckets.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Wording.
  docs/prometheus-exporter.md
Due: none

Change dummy gauge creation.
  concordium-node/src/network/buckets.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Review comments.
  concordium-node/src/network/buckets.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remaining tests for receiving a timeout message.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move bls signature check to receive timeout message.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Review comments.
  concordium-node/src/network/buckets.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Extend reporter metrics with recently connected peer counts. (#812)
  CHANGELOG.md
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More tests and logging for block validation.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump rustc to 1.68.
  .github/workflows/build-test.yaml
  README.md
  collector/Cargo.lock
  collector/Cargo.toml
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/README.md
  jenkinsfiles/bootstrapper.Jenkinsfile
  scripts/distribution/windows/build-all.ps1
  scripts/static-binaries/build-on-ubuntu.sh
  service/windows/README.md
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump stackage snapshot to lts-20.16 and update docs.
  concordium-consensus/README.md
  concordium-consensus/stack.static.yaml
  concordium-consensus/stack.yaml
  concordium-node/README.md
  concordium-node/build.rs
  jenkinsfiles/database-exporter.Jenkinsfile
  jenkinsfiles/distribution-image.Jenkinsfile
  scripts/distribution/docker/README.md
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  stack.yaml
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Typo.
  concordium-node/README.md
Due: none

(Hopefully) appease clippy.
  concordium-node/build.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/macos_log.rs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy errors.
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused tests
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Timeout commit and run.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handling pending blocks.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Review comments.
  concordium-consensus/README.md
  concordium-node/README.md
  jenkinsfiles/bootstrapper.Jenkinsfile
Due: none

Introduced a witness for checking wether live rounds has a qc assoicated.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Put the qc in the checked qc buffer when it's received as part of a block also.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add more timeout tests.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update libraries tag.
  scripts/distribution/ubuntu-packages/README.md
Due: none

Try installing libtinfo before running GHC.
  scripts/static-libraries/build-static-libraries.sh
Due: none

libtinfo
  scripts/static-libraries/build-static-libraries.sh
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
