Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Added throughput_timestamp to `instrumentation` feature.
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Test, comments and changed timestamp format from seconds to millisec
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Renaming of a func.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixed error in instrumentation feat. and some variable renaming.
  concordium-node/src/p2p/peers.rs
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rust fmt.
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Verify baker keys on startup.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add scripts for building static binaries on ubuntu versions.
  scripts/static-binaries/README.md
  scripts/static-binaries/build-on-ubuntu.sh
  scripts/static-binaries/build-static-binaries.sh
  scripts/static-binaries/static-binaries.Dockerfile
Due: none

Provide setup for building ubuntu packages using the static binaries.
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/template/debian/changelog
  scripts/distribution/ubuntu-packages/template/debian/compat
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.config
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.install
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.templates
  scripts/distribution/ubuntu-packages/template/debian/control
  scripts/distribution/ubuntu-packages/template/debian/postinst
  scripts/distribution/ubuntu-packages/template/debian/rules
  scripts/distribution/ubuntu-packages/template/scripts/concordium-node-wrapper
  scripts/static-binaries/build-static-binaries.sh
Due: none

Review comments.
  concordium-node/Cargo.toml
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rust fmt
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

An unit test.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Removed more serde network stuff.
  concordium-node/Cargo.toml
  concordium-node/benches/p2p_lib_benchmark.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/lib.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Updated flatbuffers v0.9.0 and flatc to v2.0.0.
  concordium-node/Cargo.toml
  concordium-node/src/network/serialization/fbs.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix formatting
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Added a rustup toolchain file in order to pin the Rust version.
  concordium-node/rust-toolchain
Due: none

Handle database resizing in the database exporter
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduced a lot of environment variables for the different configs.
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/bin/genesis_tester.rs
  concordium-node/src/configuration.rs
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

oups forgot one
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not allow rebroadcasting of catch-up status messages.
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix function accessibility.
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Require authentication even if dump feature is disabled.
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Applied rustfmt.
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Replace failure with anyhow (#49)
  concordium-node/Cargo.toml
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/bin/dnsrecordgen.rs
  concordium-node/src/bin/genkey.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/concordium_dns/sys.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/blockchain_types.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/fails.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/consensus_ffi/mod.rs
  concordium-node/src/dumper.rs
  concordium-node/src/lib.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/serde.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/plugins/staging_net.rs
  concordium-node/src/rpc.rs
  concordium-node/src/stats_export_service.rs
  concordium-node/src/test_utils.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation and a bit of streamlining.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Edited run.sh and docker files. Also a few name changes to env vars.
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/configuration.rs
  scripts/distribution/concordium.conf
  scripts/distribution/stagenet.Dockerfile
  scripts/distribution/testnet.Dockerfile
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Removed serde_cbor and serde_msgpack from network serialization. (#52)
  .github/workflows/build-test.yaml
  concordium-node/Cargo.toml
  concordium-node/README.md
  concordium-node/benches/p2p_lib_benchmark.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/lib.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/mod.rs
  concordium-node/src/network/serialization/serde.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More sandboxing.
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
Due: none

Added VARIABLES.md.
  VARIABLES.md
Due: none

Add a new docker-compose configuration with the wallet-proxy and the identity provider service.
  docker-compose/README.md
  docker-compose/baker+wallet-proxy+identity-provider.yaml
  docker-compose/bakers+wallet-proxy.yaml
  scripts/genesis/generate-test-genesis.py
  scripts/start.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

VARIABLES.md updated.
  VARIABLES.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
