Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Change genesis repo to github
  jenkinsfiles/distribution-image.Jenkinsfile
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/docker/builder.Dockerfile
  scripts/static-libraries/README.md
Due: none

Change genesis repo to github (#950)
  jenkinsfiles/distribution-image.Jenkinsfile
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/docker/builder.Dockerfile
  scripts/static-libraries/README.md
Due: none

Fix counting of rolled-back finalized blocks.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix an issue where duplicate invalid blocks are spuriously reported as a case of double signing.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove checkTimeoutCertificateSignature and add a few tests for checkTimeoutCertificate
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Resize when reading from database via the exporter.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update CHANGELOG.
  CHANGELOG.md
Due: none

Avoid busy-looping when minimum block time is set to 0.
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid busy-looping when minimum block time is set to 0.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid remapping blob store unless file has grown. Fix catch-up QC handling.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixed obsolete import.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid busy-looping when minimum block time is set to 0. (#957)
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add P6->P6 update.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P6.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P6/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdateV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Process QC before finalization entry
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Test.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Scope resizeOnResized more tightly. Fix relative exportpath bug.
  CHANGELOG.md
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Support loading state after P6-P6 protocol update.
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V0.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

removed rpc_server
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/deb.Dockerfile
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: none

added default ports
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Payday calculation and documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P5/ProtocolP6.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P6/Reboot.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle the terminal block as distinct from the last finalized block when shutting down consensus.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P6.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P6/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Enable the out-of-band catch-up in the Windows node configuration by default.
  service/windows/installer/resources/nodes.toml
Due: none

Prevent the baker thread from starting when it is not needed.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes.
  concordium-consensus/src/Concordium/GlobalState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-node/Cargo.lock
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comment
  concordium-consensus/src/Concordium/ProtocolUpdate/P6/Reboot.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.0.2.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove obsolete binaries from the static binaries build script.
  scripts/static-libraries/build-static-libraries.sh
Due: none

Update P6 specification hash to the final one.
  CHANGELOG.md
  concordium-consensus/src/Concordium/ProtocolUpdate/P5/ProtocolP6.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation
  concordium-consensus/src/Concordium/ProtocolUpdate/P5/ProtocolP6.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix processing of chain updates in P6.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add regression test.
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateQueues.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Do not treat `Stale` as an aborting condition during out-of-band catch-up.
  CHANGELOG.md
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Change `processQuorumCertificate` to always write the certified block. Change block processing to process the finalization entry after the QC.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move update queue tests to globalstate test suite.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  concordium-consensus/tests/globalstate/Spec.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
