Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Fix CI
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

..
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

..
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path
  plt/plt-block-state/src/persistent/trie/path.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Document lock operation policies on scheduler function
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use Rust 1.98.1
  CHANGELOG.md
  rust-toolchain.toml
Due: none

Release 10.0.12
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Change submodule to private base
  .gitmodules
Due: none

Submodule token
  .github/workflows/build-test.yaml
  .github/workflows/cargo-deny-matrix.yaml
  .github/workflows/deployment-build-test.yaml
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix unnecessary allocation during trie key serialization
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused function
  plt/plt-block-state/src/persistent/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve bench docs
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix doc example
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy warnings
  concordium-node/src/grpc2.rs
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix warnings for generated code
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update base to fix test data in unit test
  .gitmodules
Due: none

Use `TokenId` to represent tokens in locked balance refs
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_release.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update haskell scheduler for new token update format
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenUpdateTransactions.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update rust scheduler to handle new token update format
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/p9.rs
  plt/plt-scheduler/tests/lock_cancel.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_release.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_admin_role.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_general_transactions.rs
  plt/plt-scheduler/tests/plt_token_list_transactions.rs
  plt/plt-scheduler/tests/plt_token_metadata_transactions.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_transactions.rs
  plt/plt-scheduler/tests/tokenless_transaction.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
  plt/plt-scheduler/tests/utils/lock.rs
  plt/plt-scheduler/tests/utils/token.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

PR feedback
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove obsolete test
  plt/plt-scheduler/tests/tokenless_transaction.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix haskell bench
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add network-independent docker image and release workflow
  .dockerignore
  .github/workflows/docker-description-release.yaml
  .github/workflows/docker-release.yaml
  scripts/distribution/docker-image/README.md
  scripts/distribution/docker-image/builder.Dockerfile
  scripts/distribution/docker-image/entrypoint.sh
  scripts/distribution/docker-image/genesis/mainnet-genesis.dat
  scripts/distribution/docker-image/genesis/testnet-genesis.dat
  scripts/distribution/docker-image/hub-description.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add workflow running e2e-testing against a build
  .github/workflows/docker-e2e.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add stack.yaml.lock to source control
  .gitignore
  stack.yaml.lock
Due: none

Revert changes related private base repo
  .github/workflows/build-test.yaml
  .github/workflows/cargo-deny-matrix.yaml
  .github/workflows/deployment-build-test.yaml
  .github/workflows/release.yaml
  .gitmodules
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bumb docker-image to ubuntu LTS 26.04
  scripts/distribution/docker-image/builder.Dockerfile
Due: none

Fix Windows consensus build import library generation
  scripts/distribution/windows/build-all.ps1
Due: none

Align to base revision
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/KernelImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenUpdateTransactions.hs
  plt/plt-scheduler-types/src/types/events.rs
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/update.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/p9.rs
  plt/plt-scheduler/tests/lock_cancel.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_release.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/operations_transaction.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_admin_role.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_general_transactions.rs
  plt/plt-scheduler/tests/plt_token_list_transactions.rs
  plt/plt-scheduler/tests/plt_token_metadata_transactions.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_transactions.rs
  plt/plt-scheduler/tests/utils/lock.rs
  plt/plt-scheduler/tests/utils/token.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix docker wait for child cleanup after termination signals
  scripts/distribution/docker-image/entrypoint.sh
  scripts/distribution/docker-image/hub-description.md
Due: none

cleanup
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/p9.rs
  plt/plt-scheduler/tests/lock_cancel.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_release.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/operations_transaction.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_admin_role.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_general_transactions.rs
  plt/plt-scheduler/tests/plt_token_list_transactions.rs
  plt/plt-scheduler/tests/plt_token_metadata_transactions.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_transactions.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
  plt/plt-scheduler/tests/utils/lock.rs
  plt/plt-scheduler/tests/utils/token.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix GNU dlltool selection for Windows Rust builds
  scripts/distribution/windows/build-all.ps1
Due: none
