Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

sequencenumber
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

tokenid
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/block_state_interface.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

cleanup
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler/scheduler_interface.rs
  plt/plt-scheduler/src/types.rs
  plt/plt-scheduler/src/types/events.rs
  plt/plt-scheduler/src/types/reject_reasons.rs
  plt/plt-scheduler/src/types/state.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

tokenid
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

refactor
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

tokenid
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/types/events.rs
  plt/plt-scheduler/src/types/reject_reasons.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

refactor
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-token-module/README.md
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Set the P9->P10 protocol update version hash. Bump version for release (10.0.1).
  CHANGELOG.md
  concordium-consensus/src/Concordium/ProtocolUpdate/P9/ProtocolP10.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  plt-deployment-unit/Cargo.lock
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

tokenmdule
  .github/workflows/build-test.yaml
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-token-module/README.md
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
  plt/plt-token-module/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

pltscheduler
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/types.rs
  plt/plt-scheduler/src/types/events.rs
  plt/plt-scheduler/src/types/reject_reasons.rs
  plt/plt-scheduler/src/types/state.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

lockfile
  plt/Cargo.lock
Due: none

refactor
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/types/state.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

lcokfile
  concordium-node/Cargo.lock
Due: none

test
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

energycharge
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

energy
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add tests for deserialization failure.
  concordium-consensus/tests/scheduler/SchedulerTests/SponsoredTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation and minor refactor of `CheckHeaderResult`.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

energy
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

energy
  plt/plt-scheduler/src/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix SPO-96
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Minor fixes.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

pv
  plt/Cargo.lock
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

pv
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

pv
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
  plt/plt-token-module/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

pv
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
