Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

trie
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
  plt/plt-block-state/src/block_state_interface.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/token_kernel.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-scheduler/src/token_kernel.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
  plt/plt-block-state/tests/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Run benchmarks on app protocol versions
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

clippy
  plt/plt-block-state/tests/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

benchmark
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Snapshot tests of hash
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/tests/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixture test of load
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

feat(locks): extend block state interface with associated `Lock` type
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-scheduler-types/src/types/locks.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Implement benchmarks of LFMB tree
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/benches/lfmb_tree.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Disable lto for plt workspace
  plt/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Implement benchmarks of LFMB tree
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/benches/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

benchmark
  plt/plt-block-state/benches/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

benchref
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/benches/hashed_cacheable_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

arcswap
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/benches/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add simple lock controller interface
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-lock-module/Cargo.toml
  plt/plt-lock-module/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix the rust toolchain patch version to match release pipeline image
  rust-toolchain.toml
Due: none

feat(locks): Add block state functionality, `LockController` implementation
  plt/Cargo.lock
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-lock-module/src/lib.rs
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/lock_controller.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

LFMB tree
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Benchmark concurrency
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/benches/hashed_cacheable_reference.rs
  plt/plt-block-state/benches/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Benchmark LFMB tree
  plt/plt-block-state/benches/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use OnceLock in blob reference
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

HashedCacheableRef::with_value => value
  plt/plt-block-state/benches/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

OnceLock blob ref
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

todo
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Handle unrecoverable errors in blockstate FFI
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens/RustPLTBlockState.hs
  plt/plt-block-state/src/ffi.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/status.rs
  plt/plt-scheduler/src/ffi/status.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Additional testing.
  plt/plt-scheduler-types/src/types/events.rs
  plt/plt-scheduler-types/src/types/tokens.rs
  plt/plt-scheduler/tests/meta_update_transaction.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use OnceCell
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
