Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

state
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

query
  plt/Cargo.lock
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/Cargo.toml
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update cargo.lock
  concordium-node/Cargo.lock
  plt-deployment-unit/Cargo.lock
Due: none

test
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

apply fix
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Add p9 to p10 update trigger
  concordium-consensus/src/Concordium/ProtocolUpdate/P9.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P9/ProtocolP10.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

transfer
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

scheduler
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/plt_queries.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler_interface.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

scheduler
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler_interface.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

scheduler
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

scheduler
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

stateerror
  plt/plt-token-module/src/token_module.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

transfer
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

transfer
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

mintburn
  plt/plt-scheduler/src/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

mint
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

todo
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

pathfilter
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

refactor
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

tokencreate
  plt/plt-scheduler/tests/plt_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix inconsistent error message
  concordium-consensus/src-lib/Concordium/External.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base ref
  concordium-node/Cargo.lock
  plt-deployment-unit/Cargo.lock
Due: none

Docs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

plt
  plt/plt-scheduler/src/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/tests/plt_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

refactor
  plt/plt-scheduler/src/events.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/reject_reasons.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/scheduler/scheduler_interface.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-token-module/src/token_module.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
