Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Update changelog.
  CHANGELOG.md
Due: none

Bump version to 6.1.3 for stagenet.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix undefined.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make the exporter fully backwards compatible.
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-node/Cargo.lock
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

New dry run operations
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/DryRun.hs
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support return values for transactions in dry-run.
  concordium-consensus/src/Concordium/External/DryRun.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Limit grpc2 server.
  concordium-node/Cargo.toml
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation and changelog.
  CHANGELOG.md
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/stats_export_service.rs
  docs/grpc2.md
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More documentation.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation.
  concordium-node/src/grpc2.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/test-runners/catchup/Main.hs
  concordium-consensus/tools/database-exporter/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix warning.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix changelog.
  CHANGELOG.md
Due: none

Fix typos.
  concordium-node/src/stats_export_service.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Clean up and adressing review comments.
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/tools/database-exporter/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.1.4 for testing.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Energy quotas
  concordium-consensus/src/Concordium/External/DryRun.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Some initial work on having accountmap in lmdb.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

LMDB implementation for AccountMap.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

...
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.1.5 for release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/p2p/peers.rs
  service/windows/installer/Node.wxs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Store the genesis block state hash in the tree state database in consensus version 0.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentTreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduced DifferenceAccountMap.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed obsolete extension.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update dependencies
  collector-backend/Cargo.lock
  collector-backend/Cargo.toml
  collector-backend/src/bin/node-collector-backend.rs
  collector/Cargo.lock
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump collector-backend & collector versions.
  collector-backend/Cargo.lock
  collector-backend/Cargo.toml
  collector/Cargo.lock
  collector/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Automate the windows installer versioning.
  jenkinsfiles/windows.Jenkinsfile
  scripts/distribution/windows/build-all.ps1
  service/windows/installer/Node.wxs
  service/windows/installer/build.ps1
Due: none

Use '.' as build number separator.
  service/windows/installer/build.ps1
Due: none

Documentation.
  concordium-node/README.md
Due: none

Document the replacement.
  concordium-node/README.md
  service/windows/installer/build.ps1
Due: none

Starting to integrate the persistent accountmap into the skovs.
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentTreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.1.6 for release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

...
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Refactorings.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

...
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
