Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Genesis: Add dockerfile (#143)
  .gitignore
  scripts/genesis/.gitignore
  scripts/genesis/Dockerfile
  scripts/genesis/README.md
Due: none

Remove the `--resolv-conf` command-line option.
  CHANGELOG.md
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update comment describing the memo update.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduce initial genesis for P2 protocol.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
  concordium-consensus/src/Concordium/Startup.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Consistent naming.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update specification hash.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Relax compatibility check.
  CHANGELOG.md
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Renaming AddMemo -> ProtocolP2.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename module for consistency.
  CHANGELOG.md
  concordium-consensus/src/Concordium/ProtocolUpdate/P1.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix documentation.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update hash to the current one. This is still likely to change though.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments from code review.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply suggestion from code review.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use AbsoluteBlockHeight for queries and transaction index.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/AccountTransactionIndex.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/SQL/AccountTransactionIndex.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

BlockInfo for re-genesis block returns terminal block of previous chain.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support block height queries relative to a genesis index. Block info includes genesis index and local height.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update protocol update specification hash.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix regenesis height calculation. Update CHANGELOG.md
  CHANGELOG.md
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise reference to LMDB stores. Use absolute height in transaction index.
  docs/data-storage.md
Due: none

Address review comments.
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update debian packages build setup and instructions.
  CHANGELOG.md
  scripts/distribution/ubuntu-packages/.gitignore
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/changelog
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.config
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.dirs
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.install
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.templates
  scripts/distribution/ubuntu-packages/template/debian/control
  scripts/distribution/ubuntu-packages/template/debian/postinst
  scripts/distribution/ubuntu-packages/template/debian/rules
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: none

verification of credential deployments.
  .github/workflows/build-test.yaml
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Caching.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/DummyData.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/testdata/credential-14.json
  concordium-consensus/testdata/credential-15.json
  concordium-consensus/testdata/credential-16.json
  concordium-consensus/tests/common/CommonTests/CachingTest.hs
  concordium-consensus/tests/common/CommonTests/VerifyCredentialDeploymentTest.hs
  concordium-consensus/tests/common/Spec.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
  concordium-consensus/tests/consensus/Spec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitialAccountCreationSpec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix migration script.
  scripts/distribution/ubuntu-packages/template/debian/changelog
  scripts/distribution/ubuntu-packages/template/debian/postinst
Due: none

Better error handling in migration.
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/postinst
Due: none

Address review comments.
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/template/debian/rules
Due: none

Update debian packages build setup and instructions. (#149)
  CHANGELOG.md
  scripts/distribution/ubuntu-packages/.gitignore
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/changelog
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.config
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.dirs
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.install
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.templates
  scripts/distribution/ubuntu-packages/template/debian/control
  scripts/distribution/ubuntu-packages/template/debian/postinst
  scripts/distribution/ubuntu-packages/template/debian/rules
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: none

Commit to version 1.1.0.
  CHANGELOG.md
Due: none

Replace dashmap with RwLock
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/macos_log.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Cleanup and organize changelog.
  CHANGELOG.md
Due: none

Commit to version 1.1.0. (#150)
  CHANGELOG.md
Due: none

Make native mac logging optional
  concordium-node/src/bin/collector.rs
  concordium-node/src/configuration.rs
  concordium-node/src/utils.rs
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node.plist
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Document wrapping of macro
  concordium-node/macos_log_wrapper.c
Due: none

Fix documentation on how to become a baker with the deb package.
  scripts/distribution/ubuntu-packages/README.md
Due: none

Changes wrt. comments.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typo as pointed out by review comments.
  scripts/distribution/ubuntu-packages/README.md
Due: none

Fix documentation on how to become a baker with the deb package. (#151)
  scripts/distribution/ubuntu-packages/README.md
Due: none

cache monad
  concordium-consensus/src/Concordium/TransactionVerificationCache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
