Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

ernergy
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/types/reject_reasons.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

mint
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

burn
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

burn
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add `signtool.exe` into path for the windows build
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Try pwsh add to path instead
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

add signtool to path + github_path
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

initial working for deny
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/deny.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy warnings
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

reverted the prometheus version to exclude any advisory change
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

upgraded rust to 1.8.5
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-node/src/bin/bootstrap_checker.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

clippy on ci complained about no need to call as_bytes
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

clippy said to elide the lifetimes
  concordium-node/src/health.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

clippy complained about lifetime not being used
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

clippy complaining about an empty line between comments
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt complaining about the empty comment line with slashes
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

initial deny.toml
  concordium-node/deny.toml
Due: none

ffi
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/blob_store.rs
  plt/plt-scheduler/src/block_state/ffi.rs
  plt/plt-scheduler/src/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix node getting stuck during catch-up.
  CHANGELOG.md
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

adding a workflow yaml to trigger cargo deny
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

blockstate
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/ffi.rs
  plt/plt-scheduler/src/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

indentation issues
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

removed all features flag
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

adding ls to see files
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

added ls for debugging
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

renamed file
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

renamed a file again
  .github/workflows/check-cargo-deny.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

running advisories only and excluding license
  .github/workflows/cargo-deny-concordium-node.yaml
  concordium-node/deny.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fixes
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

added slack notification
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

trying to add a link to the build log
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

added a logic to go straight to the log and if it is pr or not a pr
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

trying to get the log link straight away
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fixed a bug in the log url
  .github/workflows/cargo-deny-concordium-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
