Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Move queries documentation from the internal wiki. (#155)
  docs/grpc.md
Due: none

Add Jenkins job for activation distribution
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Fix docker distribution entrypoint.
  scripts/distribution/docker-entrypoint.sh
Due: none

Fix regression bug and reject already expired transactions.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version.
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove needless fromIntegral.
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Release version 1.1.2.
  CHANGELOG.md
  service/windows/installer/Node.wxs
Due: none

Run job on master node
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Fix label
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Fix redirect
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Fix command
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Add Jenkins job for activating distribution image (#164)
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Add documentation on out of band catchup for debian packages.
  scripts/distribution/ubuntu-packages/README.md
Due: none

add function call for domain
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

add function call for domain (#171)
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

.
  concordium-consensus/src/Concordium/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/TransactionVerificationCache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make baker credentials path absolute to not rely on working directory.
  scripts/distribution/docker-entrypoint.sh
Due: none

..
  concordium-consensus/src/Concordium/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Classes.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support supplying genesis path.
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/utils.rs
  docker-compose/node-entrypoint.sh
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Untabify.
  docker-compose/node-entrypoint.sh
Due: none

Reflect changes in the changelog.
  CHANGELOG.md
Due: none

Document the requirement for an absolute path to avoid issues in the future.
  docker-compose/bakers.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support supplying genesis path. (#175)
  CHANGELOG.md
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/utils.rs
  docker-compose/bakers.yaml
  docker-compose/node-entrypoint.sh
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Limit allowed character set and length in node names
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Allow spaces in mac node names
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Disallow prefixes and suffixes with spaces
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
Due: none

Fix mac node issues regarding special chars in node names (#174)
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
Due: none

Jenkins: Convert job 'activate_distribution' to scripted pipeline
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Jenkins: Convert job 'activate_distribution' to scripted pipeline (#177)
  jenkinsfiles/activate_distribution.Jenkinsfile
Due: none

Jenkins: Merge build scripts for distribution images into single scripted pipeline
  jenkinsfiles/activate-distribution-image.Jenkinsfile
  jenkinsfiles/distribution-image.Jenkinsfile
Due: none

Add git checkout and SSH agent wrapper
  jenkinsfiles/distribution-image.Jenkinsfile
Due: none

Delete obsolete pipelines and scripts
  jenkinsfiles/mainnet.Jenkinsfile
  jenkinsfiles/stagenet.Jenkinsfile
  jenkinsfiles/testnet.Jenkinsfile
  scripts/distribution/build-and-push-mainnet.sh
  scripts/distribution/build-and-push-stagenet.sh
  scripts/distribution/build-and-push-testnet.sh
Due: none

Convert back to declarative pipeline
  jenkinsfiles/distribution-image.Jenkinsfile
Due: none

Retrieve live blocks from the block table as well when trying to get block parents.
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Never look up a dead block.
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make sure there are no outstanding transactions while resizing the LMDB environment.
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Mark blocks as finalized by increasing height, and mark them as dead by decreasing height.
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none
