Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix clippy.
  concordium-node/src/dumper.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update base. Fix warnings in static-binaries.Dockerfile
  scripts/static-binaries/static-binaries.Dockerfile
Due: none

Queries for determining which accounts have scheduled releases or cooldowns.
  concordium-consensus/lib.def
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/ReleaseSchedule.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

update changelog
  CHANGELOG.md
Due: none

cosmetics
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LeaderElectionTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

change parametrization of BakerStakesAndCapital
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix tests
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LeaderElectionTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

filter suspended validators
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

suspension via computeBakerStakesAndCapital
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

test computeBakerStakesAndCapital
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

get rid of ambiguous type variables
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

rename activeBakers' -> filteredActiveBakers
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

suspension via computeBakerStakesAndCapital (#1252)
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LeaderElectionTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Support adding parameter to `ContractInitializedEvent` in GRPC queries.
  concordium-consensus/src-lib/Concordium/External/DryRun.hs
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/BlockPointer.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix redundant import.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Doc. Fix test.
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ConfigureBaker.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  CHANGELOG.md
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base. Doc.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog, base.
  CHANGELOG.md
Due: none

Additional logging.
  concordium-consensus/src-lib/Concordium/External/DryRun.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

introducion SuspensionInfo and suspension chain parameters
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/PoolRewards.hs
  concordium-consensus/src/Concordium/GlobalState/PoolRewards.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/test-runners/catchup/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

auto suspension implementation
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix tests
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

boilerplate code for ValidatorScoreParametersUpdate
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

cosmetics
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/GlobalState/PoolRewards.hs
  concordium-consensus/src/Concordium/GlobalState/PoolRewards.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

added processValidationScoreParametersUpdates
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

some more boilerplate
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

extend test for `computeBakerStakesAndCapital`
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

add tests for epoch transition
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add account address to transaction events and special outcomes.
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ConfigureBaker.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
