Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

A proof of concept to reduce lock contention for queries.
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use version folder
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/distribution.xml
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Make postinstall script actually run
  scripts/distribution/macOS-package/build.sh
Due: none

Ensure permissions
  scripts/distribution/macOS-package/build.sh
Due: none

Fix collector path
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Use mainnet bootstrap url
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node.plist
Due: none

Add keepAlive rules to services
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node-collector.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node.plist
Due: none

Fix build of 'dev-master' images
  docker-compose/Dockerfile
  docker-compose/build.sh
Due: none

[WIP] Update env vars and add per-component entrypoint files
  docker-compose/.dockerignore
  docker-compose/Dockerfile
  docker-compose/bakers.yaml
  docker-compose/bootstrapper-entrypoint.sh
  docker-compose/build.sh
  docker-compose/concordium-node-entrypoint.sh
  docker-compose/node-collector-entrypoint.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Work
  docker-compose/Dockerfile
Due: none

Fixes
  docker-compose/Dockerfile
  docker-compose/node-collector-entrypoint.sh
Due: none

Add all deps
  docker-compose/Dockerfile
Due: none

Add flag for subsystem name used in logging on mac
  concordium-node/src/configuration.rs
  concordium-node/src/utils.rs
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node.plist
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixes - working now!
  docker-compose/bakers.yaml
  docker-compose/concordium-node-entrypoint.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup and init work on integrating wallet-proxy
  docker-compose/Dockerfile
  docker-compose/README.md
  docker-compose/bakers+wallet-proxy.yaml
  docker-compose/bakers.yaml
  docker-compose/bootstrapper-entrypoint.sh
  docker-compose/collector-entrypoint.sh
  docker-compose/concordium-node-entrypoint.sh
  docker-compose/node-collector-entrypoint.sh
  docker-compose/node-entrypoint.sh
  docker-compose/wallet-proxy-entrypoint.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add subsystem flag to collector
  concordium-node/src/bin/collector.rs
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node-collector.plist
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add installer plugin for configuration
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/.gitignore
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin.xcodeproj/project.pbxproj
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Base.lproj/MyInstallerPane.xib
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Info.plist
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/InstallerSections.plist
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.h
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/en.lproj/InfoPlist.strings
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/en.lproj/Localizable.strings
  scripts/distribution/macOS-package/build.sh
Due: none

Windows node installer.
  service/windows/.cargo/config.toml
  service/windows/Cargo.toml
  service/windows/Configuration.md
  service/windows/README.md
  service/windows/build.rs
  service/windows/installer/CustomDlgs.wxs
  service/windows/installer/Node.wxs
  service/windows/installer/build.ps1
  service/windows/installer/custom-actions/Cargo.toml
  service/windows/installer/custom-actions/build.rs
  service/windows/installer/custom-actions/src/lib.rs
  service/windows/installer/resources/WixUIBanner.png
  service/windows/installer/resources/WixUIDialog.png
  service/windows/installer/resources/base.ico
  service/windows/installer/resources/config.ico
  service/windows/installer/resources/license.rtf
  service/windows/installer/resources/mainnet-genesis.dat
  service/windows/installer/resources/nodes.toml
  service/windows/installer/resources/play.ico
  service/windows/installer/resources/stop.ico
  service/windows/installer/resources/testnet-genesis.dat
  service/windows/resources/icon.ico
  service/windows/src/config.rs
  service/windows/src/main.rs
  stack.yaml
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Setup basic plugin that saves node names to /tmp
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Base.lproj/MyInstallerPane.xib
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/InstallerSections.plist
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.h
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/en.lproj/InfoPlist.strings
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/en.lproj/Localizable.strings
Due: none

Windows Jenkins job.
  jenkinsfiles/windows.Jenkinsfile
  service/windows/Cargo.lock
  service/windows/installer/build.ps1
  service/windows/installer/custom-actions/Cargo.lock
Due: none

Cleanup logging from build script
  scripts/distribution/macOS-package/build.sh
Due: none

Use node name from install config file
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node-collector.plist
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Tweak Windows Jenkinsfile.
  jenkinsfiles/windows.Jenkinsfile
Due: none

Add multiple config options
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Base.lproj/MyInstallerPane.xib
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.h
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Improve validation handling of node names
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Base.lproj/MyInstallerPane.xib
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.h
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Rename and adjust spacing
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/Base.lproj/MyInstallerPane.xib
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Move gitignore rules to repo-wide file
  .gitignore
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/.gitignore
Due: none

Get proper location of script
  scripts/distribution/macOS-package/build.sh
Due: none

Add more envvars to service files and minor fixes
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node-collector.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node.plist
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Set net name instead of subsystem
  concordium-node/src/bin/collector.rs
  concordium-node/src/configuration.rs
  concordium-node/src/utils.rs
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node-collector.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.node.plist
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More tweaks to jenkinsfiles/windows.Jenkinsfile
  concordium-node/Cargo.lock
  jenkinsfiles/windows.Jenkinsfile
  scripts/distribution/windows/build-all.ps1
Due: none

Add testnet service
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Application Support/Concordium Node/Mainnet/Data/genesis.dat
  scripts/distribution/macOS-package/template/payload/Application Support/Concordium Node/Testnet/Data/genesis.dat
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/LaunchDaemons/software.concordium.testnet.node.plist
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Sign installer plugin
  scripts/distribution/macOS-package/build.sh
Due: none

Documentation. Revise icons. Add third-party licenses.
  concordium-node/README.md
  jenkinsfiles/windows.Jenkinsfile
  service/windows/installer/Node.wxs
  service/windows/installer/resources/base.ico
  service/windows/installer/resources/config.ico
  service/windows/installer/resources/licenses.html
  service/windows/installer/resources/play.ico
  service/windows/installer/resources/stop.ico
  service/windows/resources/icon.ico
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add uninstaller app and reorganize payload
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start Mainnet.app/Contents/Info.plist
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start Mainnet.app/Contents/MacOS/startNode.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start Mainnet.app/Contents/Resources/icon.png
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start Mainnet.app/Icon 
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/Info.plist
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/MacOS/uninstall.applescript
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/MacOS/uninstall.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/Resources/concordium_logo.icns
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/Resources/icon.png
  scripts/distribution/macOS-package/template/payload/Library/Application Support/Concordium Node/Mainnet/Data/genesis.dat
  scripts/distribution/macOS-package/template/payload/Library/Application Support/Concordium Node/Testnet/Data/genesis.dat
  scripts/distribution/macOS-package/template/payload/Library/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/Library/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/LaunchDaemons/software.concordium.testnet.node.plist
Due: none

Clippy & typos.
  concordium-node/README.md
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix docker-compose setup
  docker-compose/.dockerignore
  docker-compose/Dockerfile
  docker-compose/README.md
  docker-compose/bakers+wallet-proxy.yaml
  docker-compose/bakers.yaml
  docker-compose/bootstrapper-entrypoint.sh
  docker-compose/build.sh
  docker-compose/collector-entrypoint.sh
  docker-compose/node-entrypoint.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Create SQL tables with a useful index.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/SQL/AccountTransactionIndex.hs
  docs/transaction-logging.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix build with database emitter.
  concordium-node/src/bin/database_emitter.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
