Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Update to GHC 9.8.4 (lts-23.27)
  .github/workflows/build-test.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  concordium-consensus/README.md
  concordium-consensus/src-lib/Concordium/External/DryRun.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseScheduleV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/stack.static.yaml
  concordium-consensus/stack.yaml
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Trie.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-node/README.md
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  scripts/distribution/docker/README.md
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  stack.yaml
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog (#1426)
  CHANGELOG.md
Due: none

fix: explain smctl file type limitations
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: correct order of steps
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduce normalized TokenId and use cannonical TokenId in reject reasons.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix compilation of tests.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Check that token can be referenced by different capitalization and that reject reason uses the cannocal representation.
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump base and update tests.
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

9.0.6 DevNet release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

fix mac release
  scripts/distribution/macOS-package/build.sh
Due: none

fix mac release (#1429)
  scripts/distribution/macOS-package/build.sh
Due: none

Add P8->P9 update.
  concordium-consensus/src/Concordium/ProtocolUpdate/P8.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P8/ProtocolP9.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1345: verify tx for CreatePLT in TransactionVerifier
  concordium-consensus/blb372752-104.dat
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/ProtocolUpdate/P8/ProtocolP9.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P8/ProtocolP9.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

update changelog
  CHANGELOG.md
Due: none

Address review comments.
  CHANGELOG.md
  concordium-consensus/src/Concordium/ProtocolUpdate/P8/ProtocolP9.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix dummy hash.
  concordium-consensus/src/Concordium/ProtocolUpdate/P8/ProtocolP9.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix the CI pipeline so as not to rebuild everything unnecessarily.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid rebuilds.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use hpack instead of stack to generate cabal file in order to speed up fourmolu job.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Combine haskell build and test steps.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rekey stack-work cache.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix key caching and smart contract build caching.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cache collector
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix key globs.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Find GHC variant directory.
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix finding libs.
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump stack version in release.
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting tweaks.
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Skov/CatchUp.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update lock file.
  concordium-node/Cargo.lock
Due: none
