Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Changelog.
  CHANGELOG.md
Due: none

Apply suggestion from @soerenbf
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add account state key function
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add low-level account state accessors
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

High level account state functions
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use the account state functions in account state query
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update scheduler test
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add module level tests
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_account_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Token account states callback
  .gitignore
  concordium-consensus/src/Concordium/PLTScheduler.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockState.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockStateCallbacks.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTMemory.hs
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/external.rs
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/memory.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-types/Cargo.toml
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docs
  plt/plt-scheduler/src/token_kernel.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

handle token list updates
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add unit tests for the list updates
  plt/plt-token-module/tests/token_module_list_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove obsolete dead_code allow
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

..
  plt/plt-scheduler/src/token_kernel.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

failurekind
  plt/plt-types/src/types/execution.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

update instruction
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-types/src/types/execution.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/plt-scheduler/src/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add todo for feature checks
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

ffi
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Check lists during transfer execution
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add unit tests covering list state during plt transfers
  plt/plt-token-module/tests/token_module_transfer.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

ffi
  concordium-consensus/src/Concordium/PLTScheduler.hs
  plt/plt-types/src/types/execution.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Reject reason
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

ffi
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Chain update FFI
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Go back to account index representation of accounts in key-value state functions
  plt/plt-scheduler/src/queries.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_account_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move invocation of touch account into token module
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_list_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused fn
  plt/plt-scheduler/src/token_kernel.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

todo
  concordium-consensus/src/Concordium/PLTScheduler/PLTMemory.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typo in doc
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

todo
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Limit default GRPC endpoints.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog and bump version.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Assert capacity
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Chain update FFI bindings
  concordium-consensus/src/Concordium/PLTScheduler.hs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-types/src/types/execution.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
