Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Update doc explaining network layer.
  docs/network-layer.md
Due: none

Fix bug #147 which resulted in a wrong returned genesis state hash.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockPointer.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/BlockPointer.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockPointer.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Changelog and formatting
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix test.
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Doc.
  concordium-consensus/src/Concordium/GlobalState/Block.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

collector tls fix.
  CHANGELOG.md
  collector/Cargo.lock
  collector/Cargo.toml
  collector/README.md
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixate trust roots to system via feature flag.
  collector/Cargo.lock
  collector/Cargo.toml
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Revise changelog.
  CHANGELOG.md
Due: none

remove blockStateHash from BlockData class.
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/BlockPointer.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
  docs/network-layer.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Cleanup
  concordium-node/Cargo.toml
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update collector/README.md
  collector/README.md
Due: none

Receiving FinalizationEntry as part of oob.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update collector/src/bin/collector.rs
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused imports from peers test module.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Import of finalization entries as part of catch-up.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Exporting of the last finalization entry for consensus v1.
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/tools/database-exporter/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixities.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  fourmolu.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup some error messages and documentation.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove StoredPeer type and just using SocketAddr directly.
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Format changelog.
  CHANGELOG.md
Due: none

appease clippy.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Backwards compatibility
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Exporting of new protocols for consensus v1.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add changelog entry.
  CHANGELOG.md
Due: none

Tidying up db export a bit.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.1.2.
  CHANGELOG.md
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation.
  concordium-consensus/src/Concordium/ImportExport.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Enabled out-of-band catch-up by default on Mac and Ubuntu
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node.plist
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: none

Update base
  fourmolu.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix metric calculation for "peers in buckets" and fix removal of peers from LMDB.
  concordium-node/Cargo.lock
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add changelog.
  CHANGELOG.md
Due: none

Fixed jenkinsfile, should work now
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/deb.Dockerfile
  scripts/distribution/ubuntu-packages/template/instantiate.sh
Due: none

Formatting.
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typo.
  CHANGELOG.md
Due: none

Invalidate cache.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Expose health and reflection services via grpc-web.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
