Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

fix comments
  .gitignore
  concordium-node/build.rs
  hie.yaml
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fmt
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump base and run formatter
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply suggestions from code review
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Kernel.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix token module unit tests
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version for release
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

chore: see if larger runner size speeds up build
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: adjust option for build and test
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

chore: correct order of flags
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

test for unauthorized PLT operations
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

chore: performance check with standard runner
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

test for unauthorized PLT operations (#1414)
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: update terminology baker to validator in macos install doc
  scripts/distribution/macOS-package/README.md
Due: none

benchtxns
  concordium-consensus/benchmarks/transactions/SchedulerTests/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/package.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/package.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: set up macos certificate chain
  .github/workflows/test-mac-code-signing.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: disable build-test workflow temporarily
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove duplicate condition
  .github/workflows/test-mac-code-signing.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove input
  .github/workflows/test-mac-code-signing.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make Rust build look for Haskell binaries in <root>/.stack-work (#1408)
  .github/workflows/build-test.yaml
  .gitignore
  concordium-node/README.md
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: test signing artefact
  .github/workflows/test-mac-code-signing.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/ProtocolLevelTokens.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

adjust cost of mint/burn
  CHANGELOG.md
Due: none

fix
  concordium-node/Cargo.lock
Due: none

Extend token module state query with paused flag
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fail for paused operations
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

update tests
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

feat: add code signing steps for Mac builds to release pipeline
  .github/workflows/release.yaml
  .github/workflows/test-mac-code-signing.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove comments to temporarily disable build steps
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update PLT mint/burn energy costs
  CHANGELOG.md
  concordium-node/Cargo.lock
Due: none

Check the token module reference used when creating PLTs.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

tests for transfer and burn
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

bench
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/benchmarks/transactions/SchedulerTests/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/package.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fmt
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
