Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Add test for adding a quorum message and removed MonadMulticast.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove some unecessary constraints from 'receiveQuorumMessage'.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Change constraints of makeQuorumCertificate
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix compilation after merge.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Test for making quorum certificate.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add a health check option to check minimum number of peers.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/health.rs
  concordium-node/src/p2p/connectivity.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix copy paste leftover.
  docs/grpc2.md
Due: none

Fix typo.
  concordium-node/src/health.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update cargo.lock
  concordium-node/Cargo.lock
Due: none

Fix some merge failures.
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix some fixme's.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Migrated collector to GRPCv2
  collector/Cargo.toml
  collector/build.rs
  collector/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix build errors after merge.
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix transaction processing test for konsensusv1 after merge.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Check that we are not overwriting existing binaries in build jobs.
  jenkinsfiles/macOS.Jenkinsfile
  jenkinsfiles/windows.Jenkinsfile
Due: none

Cleaned up Cargo.toml file
  collector/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Formatting
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replaced APPNAME/VERSION placeholders with something sensible
  collector/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Run the precheck step in the `jenkins-worker`.
  jenkinsfiles/windows.Jenkinsfile
Due: none

Checked NodeInfo required fields and formatted
  collector/build.rs
  collector/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More cleanup and some documentation.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Limit invoke instance in V2 API.
  CHANGELOG.md
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add Timeout module and move timeout handling functions.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Some fixes wrt. review comments for Quroum handling.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove 'Awaiting' result code for when receiving a quorum message.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix double signing check to only check for a quorum message.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed a wrong flag.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add check for round equality in processQuorumMessage
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add catchup file currently with notes to remember.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Refinements to quorum handling.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add some documentation to processing quorum message and clean up some code.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup some code for processing quorum messages.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused MultiWayIf
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed the old collector
  concordium-node/Cargo.toml
  concordium-node/src/bin/collector.rs
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/windows/build-all.ps1
  scripts/static-binaries/build-on-ubuntu.sh
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix compilation
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Disable broadcast callbacks when performing out-of-band-catchup.
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-node/src/consensus_ffi/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
