Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Ar/psr 37 energy charge (#1500)
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/types/reject_reasons.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

docs
  plt/docs/component_view.md
  plt/docs/migrate_p11.md
Due: none

docs (#1516)
  plt/docs/component_view.md
  plt/docs/migrate_p11.md
Due: none

renametokenstate
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/token_module/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rename
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rename
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test filename alignment
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/block_state_interface.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rename
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Renametokenstate (#1522)
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-token-module/src/module_state.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Set/unset paused state
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

coverage
  .github/workflows/plt-build-test.yaml
  plt/rust-toolchain.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  .github/workflows/plt-build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Check paused as part of executing operations
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

cov
  .github/workflows/plt-build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

test
  plt/plt-scheduler/src/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  .github/workflows/plt-build-test.yaml
  plt/plt-scheduler/src/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Describe token op in `OperationNotPermitted` when due to pause
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

`check_not_paused` convenience fn
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Amend tests according to feedback
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Log events when pausing/unpausing
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

coverage (#1523)
  .github/workflows/plt-build-test.yaml
  plt/rust-toolchain.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

base API changed
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

describe operation name for reject reason
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Ensure events are logged for pause/unpause
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Implement blob store and block state callbacks
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockStateCallbacks.hs
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/blob_store.rs
  plt/plt-scheduler/src/block_state/external.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/ffi/blob_store_callbacks.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement FFI calls for PLT block state and transaction execution
  concordium-consensus/src/Concordium/PLTScheduler.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockState.hs
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/ffi/block_state.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Account address handling changes
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_kernel_interface.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Simplistic block state
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/blob_store.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

PR feedback
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Token module event logging in kernel stub
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

doc
  plt/README.md
  plt/plt-scheduler/README.md
  plt/plt-token-module/README.md
Due: none

Check authorization against token governance account
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Align validation check order description with haskell impl
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix merge
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
