Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Explain how to view logs
  scripts/distribution/macOS-package/README.md
Due: none

Add notes on reproducibility and logging
  scripts/distribution/macOS-package/README.md
  scripts/distribution/macOS-package/build.sh
Due: none

Fix logging
  concordium-node/src/macos_log.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Set default rust version in windows build script.
  scripts/distribution/windows/build-all.ps1
Due: none

Rely on default rust version
  scripts/distribution/windows/build-all.ps1
Due: none

Distribution: Stagenet: Install Envoy using deb pkg
  scripts/distribution/builder.Dockerfile
Due: none

.
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/TransactionVerificationCache.hs
  concordium-consensus/tests/common/CommonTests/VerifyCredentialDeploymentTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make the database exporter threaded to prevent it from crashing on protocol updates.
  concordium-consensus/package.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move queries documentation from the internal wiki.
  docs/grpc.md
Due: none

Fix bootstrap URL and envoy run command
  scripts/distribution/build-and-push-stagenet.sh
  scripts/distribution/builder.Dockerfile
  scripts/distribution/concordium.conf
Due: none

Fix
  scripts/distribution/builder.Dockerfile
Due: none

Add comment and cache cleanup
  scripts/distribution/builder.Dockerfile
Due: none

Distribution: Stagenet: Fix distribution image build (#153)
  scripts/distribution/build-and-push-stagenet.sh
  scripts/distribution/builder.Dockerfile
  scripts/distribution/concordium.conf
Due: none

Correct the version number used in the Windows installer. Use Windows line endings in the nodes.toml file.
  service/windows/installer/Node.wxs
  service/windows/installer/resources/nodes.toml
Due: none

Add a note to the readme. Support upgrade to 1.1.0.
  service/windows/README.md
  service/windows/installer/Node.wxs
Due: none

Fix transaction status response to correctly report committed transactions.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

.
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/tests/common/CommonTests/VerifyCredentialDeploymentTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Work.
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/TransactionVerificationCache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More details in readme about generating installer for new releases.
  service/windows/README.md
Due: none

Add jenkins file for building mac node
  jenkinsfiles/macOS.Jenkinsfile
Due: none

Print versions
  scripts/distribution/macOS-package/build.sh
Due: none

Release 1.1.1
  CHANGELOG.md
Due: none

Update Windows installer for 1.1.1 release.
  service/windows/installer/Node.wxs
Due: none

Explicitly mention key backups during uninstall
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/MacOS/run.applescript
Due: none

Use jenkins-worker to publish on AWS
  jenkinsfiles/macOS.Jenkinsfile
Due: none

Fix clippy warning
  concordium-node/src/macos_log.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix log_lvl usage
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix clippy errors
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump minimum macOS version to 10.14 (Mojave)
  scripts/distribution/macOS-package/template/distribution.xml
Due: none

Disallow --use-mac-log together with --log-config
  concordium-node/src/bin/collector.rs
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix minor issues
  concordium-node/Cargo.toml
  concordium-node/src/bin/collector.rs
  concordium-node/src/utils.rs
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/MacOS/run.applescript
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fetch genesis files
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Library/Application Support/Concordium Node/Mainnet/Data/genesis.dat
  scripts/distribution/macOS-package/template/payload/Library/Application Support/Concordium Node/Testnet/Data/genesis.dat
Due: none

Clarify fixme on log level semantics
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update docs/grpc.md
  docs/grpc.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
