Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Check duplicate peers at promotion time.
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Introduce favorite connections.
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not bootstrap twice in immediate succession.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Better naming.
  concordium-node/src/bin/cli.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix genesis tools image link.
  .gitignore
  scripts/genesis/generate-test-genesis.py
Due: none

Support managing trusted connections via RPC.
  concordium-node/src/bin/cli.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Revise initial given address handling to only warn about failures.
  concordium-node/src/bin/cli.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove given addresses when banning by IP.
  concordium-node/src/p2p/bans.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove NodeId bans since they are no longer used.
  concordium-node/src/p2p/bans.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused option and fix the program description.
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Some documentation.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Typos.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix type of get_resolvers on Windows
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Restrict when transaction retransmission.
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PendingTransactionTable.hs
  concordium-consensus/tests/globalstate/Spec.hs
  scripts/genesis/generate-test-genesis.py
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update docker/jenkins builds (non-distribution) (#15)
  jenkinsfiles/master.Jenkinsfile
  scripts/testnet-deployments/bootstrapper.Dockerfile
  scripts/testnet-deployments/build-testnet-production-release.sh
  scripts/testnet-deployments/client.Dockerfile
  scripts/testnet-deployments/collector.Dockerfile
  scripts/testnet-deployments/node-collector.Dockerfile
  scripts/testnet-deployments/node.Dockerfile
  scripts/testnet-deployments/universal.Dockerfile
Due: none

Fix docker-compose build
  docker-compose/Dockerfile
  docker-compose/build.sh
Due: none

Fix docker-compose build (#17)
  docker-compose/Dockerfile
  docker-compose/build.sh
Due: none

Correct locking order in find_conn_to.
  concordium-node/src/p2p/connectivity.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix key updates so that update queues and update types match.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version.
  concordium-node/Cargo.toml
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
