Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Update genesis-data pointer
  scripts/GENESIS_DATA_VERSION
Due: none

Jenkins: push 542361b54429b71b5519f4438806a84a17dc6c92 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push bc3d65f2c9f4e38625b35cdc13f9e70c601718af static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Update GENESIS_DATA_VERSION
  scripts/GENESIS_DATA_VERSION
Due: none

Multi-version support. Work in progress
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/Afgjort/Monad.hs
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/External2.hs
  concordium-consensus/src/Concordium/Getters.hs
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Instance.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Kontrol/BestBlock.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Reboot.hs
  concordium-consensus/src/Concordium/Queries/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries/Types.hs
  concordium-consensus/src/Concordium/Runner.hs
  concordium-consensus/src/Concordium/Skov/CatchUp.hs
  concordium-consensus/src/Concordium/Skov/CatchUp/Types.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Statistics.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support querying account by credential id as well as account address.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/Getters.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Invariants.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Limit encrypted amounts on multiple-credential accounts.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Do not allow adding already expired credentials to existing accounts.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve tests and add documentation.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Invariants.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Consolidation of constants.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Jenkins: push 02b3be87a2ae8bd652e214aaedcad458a507476d static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Remove account expiry.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/CredentialTest.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update rust dependencies to resolve most security advisories.
  concordium-consensus/package.yaml
  concordium-node/Cargo.toml
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/bin/genesis_tester.rs
  concordium-node/src/concordium_dns/dns.rs
  concordium-node/src/configuration.rs
  concordium-node/src/dumper.rs
  concordium-node/src/lib.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/test_utils.rs
  concordium-node/src/utils.rs
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid some further deadlock in tests, and cleanup resources properly.
  concordium-node/src/bin/network_stress_test.rs
  concordium-node/src/connection/tests.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Support encrypted baker credentials.
  concordium-consensus/stack.integer-simple.yaml
  concordium-node/Cargo.toml
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Jenkins: push 460026ecfa3381cfcb63eac8f3b0e2895dcd9616 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push bb9ccc80fe3ec571590203ebe3c7ba6b17fe8591 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Remove obsolete rejection reasons.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Jenkins: push d9801da1f01367a337cc1de03a8c1e714b48e6d3 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push 18c41ac46b412668eb666ec6864a2443aadb1d7c static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Add github CI
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update submodule locations after move to github.
  .gitmodules
Due: none
