Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

test(locks): add fixtures for locks state models
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-scheduler-types/src/types/locks.rs
  plt/plt-scheduler-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments
  concordium-consensus/src-lib/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support meta-update transaction.
  concordium-consensus/src/Concordium/Scheduler.hs
  plt/plt-scheduler-types/src/types/reject_reasons.rs
  plt/plt-scheduler-types/src/types/tokens.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add doc comment to LATEST_PROTOCOL_VERSION and use it across all scheduler tests
  plt/plt-scheduler/tests/plt_block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_account_state.rs
  plt/plt-scheduler/tests/plt_token_admin_role.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_initialize.rs
  plt/plt-scheduler/tests/plt_token_list_updates.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_token_update_general.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move block_state_external_stubbed into utils submodule, move unit test to plt_block_state_stub
  plt/plt-scheduler/tests/plt_block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_account_state.rs
  plt/plt-scheduler/tests/plt_token_admin_role.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_initialize.rs
  plt/plt-scheduler/tests/plt_token_list_updates.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_token_update_general.rs
  plt/plt-scheduler/tests/plt_token_update_metadata.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/utils/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add P10 mint tests to plt_token_mint
  plt/plt-scheduler/tests/plt_token_mint.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Handle unrecoverable errors in scheduler functions exposed to Haskell
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Status.hs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/ffi/status.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address PR review comments
  plt/plt-scheduler/tests/plt_token_account_state.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_list_updates.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/utils/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address remaining PR review comments
  plt/plt-scheduler/tests/plt_token_list_updates.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_token_update_general.rs
  plt/plt-scheduler/tests/utils/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Implement blob reference type
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/utils.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

dump
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/ProtocolLevelTokens.hs
  plt/plt-block-state/src/block_state/state_dump/shared.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

LFMB tree
  concordium-consensus/tests/globalstate/GlobalStateTests/LFMBTree.hs
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rust block state
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state/state.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-types/Cargo.toml
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-token-module/Cargo.toml
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/roles.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/utils/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fmt
  plt/plt-block-state/src/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Mem blob store
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused AccountIndex imports from plt_token_list_updates and plt_token_transfer
  plt/plt-scheduler/tests/plt_token_list_updates.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add no-coin-info tests for token creation, transfer, and allow/deny list
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address latest PR review comments
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/utils/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add haskell test ensuring rust scheduler panics are caught
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RustScheduler.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Prepare RBAC release for devnet
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Rust block state
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-types/Cargo.toml
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-token-module/Cargo.toml
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/roles.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/utils/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rust block state
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove 7zip setup step as already installed in windows runners
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

docs
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/state.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/Cargo.lock
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/roles.rs
  plt/plt-token-module/src/token_module/initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use smart contract trie in Rust block state
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

chore(locks): simplify preliminary lock state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-scheduler-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

keyvalue
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move blob location type
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_cacheable_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/tests/utils/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move blob location type
  plt/plt-block-state/src/block_state/blob_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move blob location type
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trie
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/smart_contract_trie.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-token-module/src/key_value_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Test meta-update transaction at scheduler level.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MetaUpdateTransactions.hs
  concordium-consensus/tests/scheduler/Spec.hs
  plt/plt-scheduler-types/src/types/reject_reasons.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
