Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state/ffi.rs
  plt/plt-block-state/src/block_state/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/block_state/ffi/block_state.rs
  plt/plt-block-state/src/block_state/ffi/block_state_callbacks.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/utils/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/ffi/block_state.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/ffi.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/utils.rs
  plt/plt-block-state/src/ffi.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/state/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/utils.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

added extra git job after build
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-base
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/utils/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

preparing a release
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

updated cargo lock
  concordium-node/Cargo.lock
Due: none

Store account roles with separate prefix in token state
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/roles.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

amended the version
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Revert "preparing a release 10.0.8"
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

amended changelog
  CHANGELOG.md
Due: none

trying to trigger build
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

trying to trigger
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

added a comment
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Shared build for Rust node libraries
  plt/Cargo.lock
  plt/Cargo.toml
  plt/node-rust-library/Cargo.toml
  plt/node-rust-library/src/lib.rs
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-types/Cargo.toml
  plt/plt-scheduler/Cargo.toml
  plt/plt-token-module/Cargo.toml
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Shared build for Rust node libraries
  plt/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

merge
  macos_logger_wrapper/Cargo.lock
Due: none

Add lock file
  macos_logger_wrapper/Cargo.lock
Due: none

readme
  plt/README.md
Due: none

Adjust unit tests naming and additional test for update metadata
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_update_metadata.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Produce error in Haskell token module for RBAC operations
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rust node library
  concordium-consensus/Setup.hs
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/BlockStateCallbacks.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Memory.hs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/src/ffi/memory.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduce tests ensuring authorization is unaffected on P10
  plt/plt-token-module/tests/token_module_mint.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Node Rust library
  concordium-consensus/Setup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Node Rust library
  concordium-consensus/Setup.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/BlockStateCallbacks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle P11 reordering of PLT checks in haskell testsuit
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rust node library
  scripts/distribution/windows/build-all.ps1
  scripts/static-libraries/build-static-libraries.sh
Due: none

Rust node library
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/BlockStateCallbacks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

comment
  plt/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Rust node library
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rust node library
  concordium-consensus/Setup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
