Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Use new block state types in the locks scheduler operations and queries
  plt/plt-block-state/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/locks/lock_configuration.rs
  plt/plt-scheduler/src/locks/lock_controller.rs
  plt/plt-scheduler/src/locks/lock_controller_simple.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove block state query and operations traits and implementations
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

PR feedback
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove block state query and operations traits and implementations
  plt/plt-block-state/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove block state query and operations traits and implementations
  plt/plt-block-state/src/failure.rs
  plt/plt-scheduler/src/locks/lock_controller.rs
  plt/plt-scheduler/src/locks/lock_controller_simple.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  plt/plt-block-state/src/failure.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Fix build error
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update test hashes due to block state changes
  plt/plt-block-state/src/persistent/block_state/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix CI
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

PR feedback
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement migration
  plt/plt-block-state/src/entity/block_state/migration.rs
  plt/plt-block-state/src/entity/protocol_level_tokens/migration/p10_to_p11.rs
  plt/plt-block-state/src/entity/protocol_level_tokens/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move WithBlockStateFailure to plt-scheduler
  plt/plt-block-state/src/failure.rs
  plt/plt-scheduler/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/locks/lock_controller.rs
  plt/plt-scheduler/src/locks/lock_controller_simple.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Test of Rust block state FFI
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens/RustPLTBlockState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/RustPLTBlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move lock queries into protocol_level_locks module
  plt/plt-scheduler/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/locks.rs
  plt/plt-scheduler/src/protocol_level_locks.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller_simple.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p9.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/lock_return.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move lock scheduler operations into protocol_level_locks module
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move lock queries into protocol_level_locks module
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove controller trait
  plt/plt-scheduler/src/protocol_level_locks.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller_simple.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove error handling refactor todos
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move migration code from base lib
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update persistent state with token params
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix changelog
  CHANGELOG.md
Due: none

Improve performance of quorum message tests by avoiding huge finalizer sets
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix concordium-base warnings blocking release
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add rust managed persistent token chain parameters
  plt/plt-block-state/src/persistent.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add haskell persistent chain parameters + ffi to rust token params
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  plt/plt-block-state/src/ffi.rs
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Migrate p10->p11 + change chain parameters persistent type
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10/ProtocolP11.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/test-runners/catchup/Main.hs
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update unit tests + add tests
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/test-runners/deterministic/Main.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/FinalizationRecover.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/PassiveFinalization.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/Update.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/ConfigureDelegator.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/ConfigureValidator.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentChainParameters.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Updates.hs
  concordium-consensus/tests/globalstate/Spec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add unit tests related to p11 update
  concordium-consensus/tests/globalstate/GlobalStateTests/AccountReleaseScheduleTest.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlockStateHelpers.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/CooldownProcessing.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentChainParameters.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentTreeState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use ResultWithBlockStateFailure in error handling to make it more fluent
  plt/plt-scheduler/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_controller.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p9.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/protocol_level_tokens/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/p9.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/errors.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/initialize.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/update.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add placeholder for new update, to be impl in subseq. PR
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix failing tests build
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Payday.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move token amount utils to separate module
  plt/plt-scheduler/src/failure.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_amount.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/errors.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/initialize.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/mod.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/update.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/util.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix bench error
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
