Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

add scheduler test
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

use non-canonical address in reject reason
  plt/plt-token-module/tests/token_module_mint.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Boilerplate for P11 protocol version.
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/ReleaseSchedule.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10/ProtocolP11.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P11.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P11/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V1.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename module state to key-value state
  plt/plt-token-module/src/module_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use opaque account type in token account info query
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Align token query signatures with Haskell
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-types/src/types/state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rename state to key-value state
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rename
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
  plt/plt-token-module/tests/utils/mod.rs
  plt/plt-types/src/types/events.rs
  plt/plt-types/src/types/reject_reasons.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rename `module_state` to `key_value_state` (#1531)
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-types/src/types/state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Renamed types representing encoded CBOR (#1532)
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
  plt/plt-token-module/tests/utils/mod.rs
  plt/plt-types/src/types/events.rs
  plt/plt-types/src/types/reject_reasons.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix missing genesis cases in tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

removed the push branches and set fail fast to false
  .github/workflows/cargo-deny-matrix.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Serialization of events and reject reasons and return via FFI
  concordium-consensus/src/Concordium/PLTScheduler.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTMemory.hs
  plt/Cargo.lock
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/external.rs
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/memory.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
  plt/plt-types/Cargo.toml
  plt/plt-types/src/lib.rs
  plt/plt-types/src/types.rs
  plt/plt-types/src/types/events.rs
  plt/plt-types/src/types/primitives.rs
  plt/plt-types/src/types/queries.rs
  plt/plt-types/src/types/reject_reasons.rs
  plt/plt-types/src/types/state.rs
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Delete corrupt DB files on start up/migration.
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

feat: try setting branch protection in settings
  .github/settings.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

ffi
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/external.rs
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

ffi
  plt/plt-scheduler/src/ffi/memory.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Account address in events (#1526)
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-interface/src/transaction_execution_interface.rs
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

tokenamount
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

foc
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

test
  plt/Cargo.lock
  plt/Cargo.toml
  plt/plt-types/Cargo.toml
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

ser
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

deser
  .gitignore
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Make 1.0.4 release.
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Cargo.lock
  concordium-node/Cargo.lock
Due: none

fmt
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-types/src/types/tokens.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

decode
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fail if decoding does not consume all bytes
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix
  concordium-consensus/src/Concordium/PLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

callback
  concordium-consensus/src/Concordium/PLTScheduler.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockState.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTBlockStateCallbacks.hs
  concordium-consensus/src/Concordium/PLTScheduler/PLTMemory.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
