Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Remove unused flags.
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move proto generated code to module and set serde as not optional
  concordium-node/Cargo.toml
  concordium-node/src/bin/collector.rs
  concordium-node/src/common/collector_utils.rs
  concordium-node/src/common/grpc_api.rs
  concordium-node/src/common/mod.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Drop connections and connection candidates on bans.
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add GHC_VARIANT for macOS to fix build
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Reject expired transactions
  concordium-consensus/src/Concordium/External.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix static libraries build script.
  scripts/static-libraries/build-static-libraries.sh
Due: none

Jenkins: push fcfa8d2b55d1dc5d626e54c3d4630aaf49d616a9 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push fec414cf029d72bd3c4e1ccea0a4979c6e260a8a static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Actually reject expired transactions
  concordium-consensus/src/Concordium/External.hs
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Release 0.4.10
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix genesis
  scripts/GENESIS_DATA_VERSION
Due: none

Release 0.4.11
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Close connections on orderly shutdown.
  concordium-node/src/bin/cli.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix error message.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Revert "Merge branch 'release/0.4.10' into 'master'"
  scripts/GENESIS_DATA_VERSION
Due: none

Add some documentation.
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Harden scripts for downloading genesis-data
  scripts/download-genesis-complementary-bundle.sh
  scripts/download-genesis-data.sh
Due: none

Fix development node image
  docker-compose/Dockerfile
  docker-compose/README.md
  docker-compose/bakers+wallet-proxy.yaml
  docker-compose/bakers.yaml
  docker-compose/build-docker-compose-image.sh
  docker-compose/build.sh
  docker-compose/develop.middleware.yml
  docker-compose/develop.wallet-dev.yml
  docker-compose/develop.yml
  docker-compose/master.yml
  docker-compose/wallet-dev.yml
  jenkinsfiles/dev-master.Jenkinsfile
  jenkinsfiles/develop.Jenkinsfile
  jenkinsfiles/docker-compose-debug.Jenkinsfile
  jenkinsfiles/docker-compose.Jenkinsfile
  scripts/start.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use into instead of casting for isInBakingCommittee
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove finalization parameters
  concordium-consensus/src/Concordium/Afgjort/ABBA.hs
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/Startup.hs
  concordium-consensus/test-runners/app/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Reformat YAML
  docker-compose/bakers+wallet-proxy.yaml
  docker-compose/bakers.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
