Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

staging_net removed from pipeline
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed a bit of staging_net.
  concordium-node/src/bin/collector_backend.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Updated to accommodate concordium-grpc-api changes.
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Record recent changes in the changelog.
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix typo.
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add fix to changelog.
  CHANGELOG.md
Due: none

Fixed bug in average throughput calculation. (#56)
  CHANGELOG.md
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/rpc.rs
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Review comments.
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.dirs
Due: none

Allow supplying multiple values via environment variables.
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Unexpose the GRPC web proxy previously used the node-dashboard
  scripts/distribution/builder.Dockerfile
Due: none

Configuring of the node using environment variables (#63)
  CHANGELOG.md
  VARIABLES.md
  concordium-node/src/bin/collector.rs
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/bin/genesis_tester.rs
  concordium-node/src/configuration.rs
  scripts/distribution/builder.Dockerfile
  scripts/distribution/concordium.conf
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.dirs
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.install
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  scripts/distribution/ubuntu-packages/template/debian/postinst
  scripts/distribution/ubuntu-packages/template/scripts/concordium-node-wrapper
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update rust format to 2021-06-09.
  .github/workflows/rustfmt.yaml
  concordium-node/rustfmt.toml
  concordium-node/src/bin/collector_backend.rs
  concordium-node/src/bin/dnsrecordgen.rs
  concordium-node/src/bin/genesis_tester.rs
  concordium-node/src/bin/genkey.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/catch_up.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use wire protocol version 1, with support for peers using version 0.
  concordium-node/Cargo.toml
  concordium-node/src/configuration.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/connection/version_adapter.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Removed obsolete env var.
  scripts/distribution/builder.Dockerfile
Due: none

Migration of global state.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bacwards compatibillity fix for collector.
  concordium-node/src/bin/collector.rs
  concordium-node/src/common/collector_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address comments from review
  concordium-consensus/src/Concordium/Afgjort/Buffer.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Instance.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix version_adapter.rs to use anyhow
  concordium-node/src/connection/version_adapter.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Suppress spurious clippy warning on empty ranges
  concordium-node/src/connection/version_adapter.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add database version to the tree state database.
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/tools/database-exporter/DatabaseExporter.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Disable dnssec by default.
  CHANGELOG.md
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/concordium_dns/dns.rs
  concordium-node/src/concordium_dns/mod.rs
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/test_utils.rs
  concordium-node/src/utils.rs
  scripts/distribution/builder.Dockerfile
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Refactor the baker loop
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Restore transaction purging loop
  concordium-consensus/src/Concordium/Runner.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up unused import
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typos, addressing review comments.
  CHANGELOG.md
  VARIABLES.md
  concordium-node/src/configuration.rs
  scripts/distribution/builder.Dockerfile
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address comments. Revise chain execution to work with database exporter for testing.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/test-runners/execute-chain/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update static libraries build script.
  scripts/static-libraries/build-and-push-static-libs.sh
  scripts/static-libraries/build-static-libraries.sh
Due: none

Ensure that the blockstate is properly flushed to disk by calling FlushFileBuffers (Windows) or fsync (Unix).
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore/Flush.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
