Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Dispatch token update transactions to rust scheduler
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Dispatch token update transactions to rust scheduler
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Dispatch token update transactions to rust scheduler
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Dispatch token update transactions to rust scheduler
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove buffering for writes.
  CHANGELOG.md
  concordium-node/src/configuration.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/connection/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bound outbound traffic
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add comments
  CHANGELOG.md
  concordium-node/src/connection/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve tracing logging
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve error logging
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fiximport
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

commandline
  concordium-consensus/package.yaml
  concordium-consensus/tools/blobstore-dump/BlobstoreDump/CommandLineParser.hs
  concordium-consensus/tools/blobstore-dump/Main.hs
  concordium-consensus/tools/blobstore-dump/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixes.
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replace liftBlockStateOperations with lift
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

treestate
  concordium-consensus/package.yaml
  concordium-consensus/tools/blobstore-dump/BlobstoreDump/CommandLineParser.hs
  concordium-consensus/tools/blobstore-dump/Main.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Config.hs
  concordium-consensus/tools/block-state-dump/Main.hs
  concordium-consensus/tools/block-state-dump/README.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests to assert coin info is set in queries and reject reasons
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Separate callback for touching token account state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Separate callback to touching token account
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/BlockStateCallbacks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Config.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Util.hs
  concordium-consensus/tools/block-state-dump/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

state
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Config.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix comments
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Util.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dum=p
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dum=p
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

WIP Use concrete types for block state in scheduler
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/p10.rs
  plt/plt-block-state/src/block_state/p11.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-interface/src/transaction_execution_interface.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/queries/p10.rs
  plt/plt-scheduler/src/queries/p11.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/p10.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix test
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix remaining tests
  plt/plt-block-state/src/block_state/p10.rs
  plt/plt-block-state/src/block_state/p11.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

dump
  concordium-consensus/tools/block-state-dump/BlockStateDump/DumpState/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/LFMBTree.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Config.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/Accounts.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/LFMBTree.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/ProtocolLevelTokens.hs
  concordium-consensus/tools/block-state-dump/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Config.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/Accounts.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/ProtocolLevelTokens.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/Shared.hs
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dump
  concordium-consensus/tools/block-state-dump/BlockStateDump/StateDump/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
