Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Collector backend calculates averages from a percentage of the data
  concordium-node/src/bin/collector_backend.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add readme section for adjusting collector-backend validation
  concordium-node/README.md
Due: none

Test correctness of receive contexts within smart contracts.
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/testdata/contracts/send/Cargo.toml
  concordium-consensus/testdata/contracts/send/src/lib.rs
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wasm
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wat
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename init-function name field in InitContract constructor
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Re-enable duplicate blocks warning
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

CR
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added handler for updating credential keys
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Cost.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update haskell to LTS-17.4 (ghc 8.10.4)
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/MonadicRecursive.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/stack.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation and minor improvements and cleanup.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Adding error code field to Reject instance of Init- and ReceiveResults.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Can't help but remove some redundant imports.
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Decoding smart contracts reject reasons.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Another unused import.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Using I32 to store smart-contract error codes. Testing.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/testdata/contracts/reject-reasons.wat
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Working on fixing tests due to recent changes. Not completely ready yet.
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BlockEnergyLimitSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/CredentialTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransferSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/StakedAmountLocked.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionGroupingSpec2.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
