Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Move SQL definitions to concordium-base.
  concordium-consensus/src/Concordium/GlobalState/SQL.hs
  concordium-consensus/src/Concordium/GlobalState/SQL/AccountTransactionIndex.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Mark concordium-base as a dependency.
  concordium-consensus/stack.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump genesis version for new stagenet release.
  scripts/GENESIS_DATA_VERSION
Due: none

Use the correct stack.yaml when inferring path.
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump version
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Various fixes
  jenkinsfiles/master.Jenkinsfile
  scripts/testnet-deployments/build-all-docker.sh
  scripts/testnet-deployments/build-dockerized-component.sh
  scripts/testnet-deployments/build-testnet-develop-release.sh
  scripts/testnet-deployments/build-testnet-production-release.sh
  scripts/testnet-deployments/build-universal-docker.sh
Due: none

Migrate genesis tool to concordium-base
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/Getters.hs
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/AnonymityRevokers.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/IdentityProviders.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/SeedState.hs
  concordium-consensus/src/Concordium/Kontrol/UpdateLeaderElectionParameters.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Scheduler/Types.hs
  concordium-consensus/src/Concordium/Startup.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/test-runners/catchup/Main.hs
  concordium-consensus/test-runners/deterministic/Main.hs
  concordium-consensus/tests/consensus/ConcordiumTests/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/FinalizationRecover.hs
  concordium-consensus/tests/consensus/ConcordiumTests/Konsensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/PassiveFinalization.hs
  concordium-consensus/tests/consensus/ConcordiumTests/Update.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/AccountReleaseScheduleTest.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/BlockHash.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentTreeState.hs
  concordium-consensus/tools/genesis/Genesis.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update README.md. Fix warning.
  concordium-consensus/README.md
  concordium-consensus/src/Concordium/GlobalState/SQL/AccountTransactionIndex.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Allow multiple credentials in genesis accounts
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Stop processing transactions/blocks when protocol is updated.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Shutdown baking and finalization on protocol update. Log warning and error messages.
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/Afgjort/Finalize/Types.hs
  concordium-consensus/src/Concordium/Afgjort/Monad.hs
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/Runner.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support consensus shut down in Rust code. Testing of shutdown.
  concordium-consensus/test-runners/app/Main.hs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix ban and unban handling to remove crashes and deadlocks.
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Code review: Rename for consistency.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Expose baker committee in GRPC api
  concordium-node/src/common/collector_utils.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove the (un)ban network message entirely.
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/schema.fbs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
