Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Cargo fmt.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Return BakerRewardPeriodInfos in ascending order of baker id.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typo.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-base pointer.
  concordium-node/Cargo.lock
Due: none

Update base pointer.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

return baker ids in finalization committee in ascending order.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add `CommisionRates` to `GetPoolInfo`.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting.
  concordium-consensus/src/Concordium/External/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-base pointer and address review comments.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support for epoch winning bakers and first block queries.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Short-circuit if min block time is 0.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  CHANGELOG.md
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting
  concordium-consensus/lib.def
Due: none

Address comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Fix the block last finalized pointer returned by `GetBlockInfo`.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Additional documentation.
  concordium-consensus/src/Concordium/Skov/Query.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Log when a round is advanced.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove pending blocks.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump node version to 6.1.0
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix loading credential ids from genesis.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix invoke instance when supplied amount is non-zero.
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add regression test.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/Invoke.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make changelog more precise.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version for 6.1.1 stagenet.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not reset banned peers on startup by default.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Changelog.
  CHANGELOG.md
Due: none

Bootstrapping robustness.
  CHANGELOG.md
  concordium-node/src/bin/cli.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Only try to remove peers with concluded handshakes.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Create DryRun entrypoint.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/DryRun.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Flag for clearing persisted peers on startup.
  CHANGELOG.md
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation and less aggressive error handling when manipulating stored peers.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
