Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

format
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

ignore
  .gitignore
Due: none

use return
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

changelog
  CHANGELOG.md
Due: none

fix: comment out windows stuff for now
  .github/workflows/build-test.yaml
  concordium-node/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: provide code coverage reporting on PRs (except for Windows)
  .github/codecov.yml
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

chore: rerun test
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle additional parameters on TokenInitializationParameters (#1458)
  .gitignore
  CHANGELOG.md
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: add codecov token
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ar/cor 1781 clean up haskell cbor model to match cis 7 spec feature (#1457)
  .github/workflows/build-test.yaml
  .gitignore
  CHANGELOG.md
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: report junit test run times with nextest
  .github/workflows/build-test.yaml
  .gitignore
  concordium-node/.config/nextest.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: report junit test run times with nextest
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove junit/nextest for now
  .github/workflows/build-test.yaml
  concordium-node/.config/nextest.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: tweaks per review
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: add manifest-path
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: ensure aggregated report is uploaded
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove unneeded env vars
  .github/workflows/build-test.yaml
  .gitignore
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: remove comments
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix url for out of band catchup in Ubuntu distribution
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Initial deployment unit project and CI
  .github/workflows/deployment-build-test.yaml
  deployment/Cargo.lock
  deployment/Cargo.toml
  deployment/rust-toolchain.toml
  deployment/src/lib.rs
  deployment/tests/host_stub.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Run deployment CI checks on push as well
  .github/workflows/deployment-build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Temporary workaround for depending on concordium-base in deployment
  deployment/Cargo.lock
  deployment/Cargo.toml
  deployment/src/lib.rs
  deployment/tests/host_stub.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rename deployment unit project
  .github/workflows/deployment-build-test.yaml
  deployment/Cargo.lock
  deployment/rust-toolchain.toml
  plt-deployment-unit/Cargo.toml
  plt-deployment-unit/README.md
  plt-deployment-unit/rust-toolchain.toml
  plt-deployment-unit/src/lib.rs
  plt-deployment-unit/tests/host_stub.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1980: update SendBlockItemRequest::get_v0_format
  concordium-node/Cargo.lock
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

update CHANGELOG
  CHANGELOG.md
Due: none

Add more documentation on HostOperations related to events
  .github/workflows/deployment-build-test.yaml
  plt-deployment-unit/Cargo.lock
  plt-deployment-unit/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-node/src/grpc2.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

COR-2001: P10 boilerplate code
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/ReleaseSchedule.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V1.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

update tests
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/ProtocolUpdate/P10.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P10.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

update Cargo.lock
  concordium-node/Cargo.lock
  plt-deployment-unit/Cargo.lock
Due: none
