Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Address comments and fix testing.
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/MerkleProofs.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update block result hashes in unit tests
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support querying contract modules.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix call to receive function to pass in whether module inspection endpoints are available.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Separate costs for new invoke operations
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add scheduler test for contract inspection queries.
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ContractInspection.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Test interaction of upgrading and inspecting smart contract module reference.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ContractInspection.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog, bump base.
  CHANGELOG.md
Due: none

Address review comments.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InspectModuleReferenceAndContractName.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base. Correct energy costs.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InspectModuleReferenceAndContractName.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused state serialization code.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseScheduleV0.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseScheduleV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/tests/globalstate/Basic/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Integrate new execution engine into the node.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
  concordium-node/Cargo.lock
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix test compilation after additional constraints.
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump rust to 1.73.
  .github/workflows/build-test.yaml
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/mod.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting.
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests by checking block state invariants in the same state.
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused import.
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation and preparation for lowering costs.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitPoliciesTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InvokeHelpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ValidInvalidModules.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Work on covering new account version.
  concordium-consensus/blb99190-530.dat
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cooldown.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Delete .dat file.
  concordium-consensus/blb99190-530.dat
Due: none

Fix some warnings.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support Rust 1.73 on Windows.
  .github/workflows/build-test.yaml
  CHANGELOG.md
  README.md
  concordium-consensus/Setup.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/README.md
  jenkinsfiles/bootstrapper.Jenkinsfile
  scripts/distribution/ubuntu-packages/README.md
  scripts/distribution/windows/build-all.ps1
  scripts/static-binaries/build-on-ubuntu.sh
  service/windows/README.md
  service/windows/installer/Node.wxs
  service/windows/installer/build.ps1
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix migration.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Integrate new cost assignment version.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use helpers.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix clippy.
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/mod.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused function.
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Reduce module loading cost, and limit call stack depth.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V0/RelaxedRestrictions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V0/SmartContractTests.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Counter.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/CrossMessaging.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/InspectModuleReferenceAndContractName.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Iterator.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Recorder.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/RelaxedRestrictions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Upgrading.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

A bit of work on the blockstate.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cooldown.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Changelog.
  CHANGELOG.md
Due: none

Cleanup.
  concordium-node/src/consensus_ffi/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
