Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Remove version folder and suffix
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/MacOS/run.applescript
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/Library/Concordium Node/LaunchDaemons/software.concordium.testnet.node.plist
  scripts/distribution/macOS-package/template/scripts/postinstall
Due: none

Make the scheduler test utils parametric over the protocol version.
  concordium-consensus/tests/scheduler/SchedulerTests/AccountTransactionSpecs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BlockEnergyLimitSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitialAccountCreationSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasonsRustContract.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransferSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContractTests.hs
  concordium-consensus/tests/scheduler/SchedulerTests/StakedAmountLocked.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TestUtils.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionGroupingSpec2.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docker Compose: Various cleanup (#127)
  docker-compose/Dockerfile
  docker-compose/bakers.yaml
  docker-compose/build.sh
  docker-compose/collector-entrypoint.sh
  docker-compose/node-counter.js
  docker-compose/node-entrypoint.sh
  jenkinsfiles/dev-master.Jenkinsfile
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make the scheduler test utils parametric over the protocol version. (#129)
  concordium-consensus/tests/scheduler/SchedulerTests/AccountTransactionSpecs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BlockEnergyLimitSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitialAccountCreationSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasonsRustContract.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransferSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContractTests.hs
  concordium-consensus/tests/scheduler/SchedulerTests/StakedAmountLocked.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TestUtils.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionGroupingSpec2.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add apps to component list
  scripts/distribution/macOS-package/template/components.plist
Due: none

Update plists and use year placeholder
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start __NET__.app/Contents/Info.plist
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Start __NET__.app/Contents/MacOS/run.applescript
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Stop __NET__.app/Contents/Info.plist
  scripts/distribution/macOS-package/template/payload/Applications/Concordium Node/Concordium Node Uninstaller.app/Contents/Info.plist
  scripts/distribution/macOS-package/template/resources/conclusion.html
Due: none

Handle new transaction types in scheduler and add some tests.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransfersWithScheduleTest.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix typo
  scripts/distribution/macOS-package/build.sh
Due: none

Prompt to sign/notarize and use envvars for username/pass
  scripts/distribution/macOS-package/build.sh
Due: none

Document and reorganize
  scripts/distribution/macOS-package/build.sh
Due: none

Fix CI clippy.
  .github/workflows/build-test.yaml
  service/windows/Cargo.toml
  service/windows/build.rs
  service/windows/src/config.rs
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Begin readme
  scripts/distribution/macOS-package/README.md
Due: none

Fix CI clippy.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add compilation check to CI.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add logging in installer plugin
  scripts/distribution/macOS-package/NodeConfigurationInstallerPlugin/NodeConfigurationInstallerPlugin/MyInstallerPane.m
Due: none

Cleanup build script
  scripts/distribution/macOS-package/build.sh
Due: none

Describe building, signing and how installer works
  scripts/distribution/macOS-package/README.md
Due: none

Cleanup: Delete obsolete jobs and scripts related to building static consensus
  jenkinsfiles/static-libraries.Jenkinsfile
  scripts/README.md
  scripts/download-static-libs.sh
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
  scripts/static-libraries/README.md
  scripts/static-libraries/build-and-push-static-libs.sh
  scripts/static-libraries/build-static-libraries-copy-out.sh
  scripts/static-libraries/static-libraries.Dockerfile
Due: none

Cleanup: Delete obsolete jobs and scripts related to building static consensus (#131)
  jenkinsfiles/static-libraries.Jenkinsfile
  scripts/README.md
  scripts/download-static-libs.sh
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
  scripts/static-libraries/README.md
  scripts/static-libraries/build-and-push-static-libs.sh
  scripts/static-libraries/build-static-libraries-copy-out.sh
  scripts/static-libraries/static-libraries.Dockerfile
Due: none

Add tests for transfers with memo.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TestUtils.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransfersWithScheduleTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Support MacOS properly. Use fdatasync where available.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore/Flush.hsc
Due: none

Explain how to become baker and how build.sh works in readme
  scripts/distribution/macOS-package/README.md
Due: none

Fix nesting
  scripts/distribution/macOS-package/README.md
Due: none

Fix numbered list
  scripts/distribution/macOS-package/README.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Use strict bytestrings for regenesis state.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix some non-exhaustive pattern matches due to new protocol version.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addressing comments.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Afgjort/Buffer.hs
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/tools/database-exporter/Main.hs
  concordium-node/src/connection/version_adapter.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduce Memo protocol update.
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Show instance.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add support for P2 start after update.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Memo.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Reboot.hs
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Additional documentation and licenses.
  service/windows/installer/resources/licenses.html
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Replace the custom DNS resolution wrapper around unbound with system resolver. Remove the (obsolete) dnsrecordgen and genkey tools.
  .github/workflows/build-test.yaml
  CHANGELOG.md
  concordium-node/Cargo.toml
  concordium-node/README.md
  concordium-node/build.rs
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/bin/dnsrecordgen.rs
  concordium-node/src/bin/genkey.rs
  concordium-node/src/concordium_dns/dns.rs
  concordium-node/src/concordium_dns/mod.rs
  concordium-node/src/concordium_dns/sys.rs
  concordium-node/src/concordium_dns/sys_c.rs
  concordium-node/src/configuration.rs
  concordium-node/src/lib.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/test_utils.rs
  concordium-node/src/utils.rs
  docker-compose/Dockerfile
  scripts/distribution/builder.Dockerfile
  scripts/static-binaries/build-on-ubuntu.sh
  scripts/testnet-deployments/bootstrapper.Dockerfile
  scripts/testnet-deployments/collector-backend.Dockerfile
  scripts/testnet-deployments/node-collector.Dockerfile
  scripts/testnet-deployments/node.Dockerfile
  service/windows/installer/Node.wxs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Expose protocol version via consensus status.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docker compose: Rename and cleanup jenkinsfile
  docker-compose/README.md
  jenkinsfiles/dev-node.Jenkinsfile
Due: none

Update the data storage documentation to reflect the protocol update changes. (Issue #137)
  docs/data-storage.md
Due: none

Apply suggestions from code review
  docker-compose/README.md
  jenkinsfiles/dev-node.Jenkinsfile
Due: none

Docker compose: Rename and cleanup jenkinsfile (#140)
  docker-compose/README.md
  jenkinsfiles/dev-node.Jenkinsfile
Due: none

Genesis: Add dockerfile
  .gitignore
  scripts/genesis/.gitignore
  scripts/genesis/Dockerfile
  scripts/genesis/README.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
