Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

NOD-525: Optimize PoolRewards with cached hashing (#1321)
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/PoolRewards.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added tests for bsoMarkFinalizationAwakeBakers
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove jenkins references
  README.md
  jenkinsfiles/bootstrapper.Jenkinsfile
  jenkinsfiles/collector-backend.Jenkinsfile
  jenkinsfiles/database-exporter.Jenkinsfile
  jenkinsfiles/distribution-image.Jenkinsfile
  jenkinsfiles/macOS.Jenkinsfile
  jenkinsfiles/ubuntu.Jenkinsfile
  jenkinsfiles/windows.Jenkinsfile
  scripts/bootstrapper/copy.sh
  scripts/db-exporter/copy.sh
  scripts/distribution/docker/README.md
  scripts/static-libraries/README.md
Due: none

Remove jenkins files
  jenkinsfiles/bootstrapper.Jenkinsfile
  jenkinsfiles/database-exporter.Jenkinsfile
  jenkinsfiles/distribution-image.Jenkinsfile
Due: none

NOD-525: Optimize baker finalization awake updates (#1322)
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove activate-distribution-image job, it mas migrated to github actions.
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Be lazier when loading modules.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Ensure that the account map for certified blocks is constructed correctly.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use an LMDB-backed module map.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/MigrationState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/LFMBTree.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle finalization and new blocks.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docs.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Changelog.
  CHANGELOG.md
Due: none

Update cache version for github runner
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add missing file.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/ModuleMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docs. Update base.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/ModuleMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update Cargo.lock
  concordium-node/Cargo.lock
Due: none

Address comment
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/ModuleMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Delay execution of the on-block and on-finalize handlers until after the state update has been written.
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Run workflows for plt branch.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

P9 boilerplate.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/ReleaseSchedule.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P9.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P9/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/V1.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix migratePersistentBakerInfoEx.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 8.1.0.
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update Cargo.lock.
  concordium-node/Cargo.lock
Due: none

Fix missing P9 case.
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Push Docker image
  .github/workflows/release.yaml
  scripts/bootstrapper/Dockerfile
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Push Docker image
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update name of docker image
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Comment out jobs not to test
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add the rest of the jobs back in
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Format and add closing parathesis back
  .github/workflows/release.yaml
  scripts/bootstrapper/Dockerfile
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cover P9 in test.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix CI.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
