Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

update changelog
  CHANGELOG.md
Due: none

add guard for spv >= P9
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

add P7 back in tests
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1345: verification for CreatePLT in TransactionVerifier (#1431)
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base. 9.0.7 version bump. Remove plt branch from CI.
  .github/workflows/build-test.yaml
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove libgmp10 libssl1.1 from built docker image.
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/ubuntu-packages/deb.Dockerfile
Due: none

Fix resolution of bootstrapper docker tag in release build.
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

use ubuntu 22.04 LTS
  .github/workflows/build-test.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  collector-backend/Dockerfile
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/ubuntu-packages/README.md
  scripts/static-binaries/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

use ubuntu 22.04 LTS (#1450)
  .github/workflows/build-test.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  collector-backend/Dockerfile
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/ubuntu-packages/README.md
  scripts/static-binaries/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fixes
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add missing endpoint
  docs/grpc2.md
Due: none

Ar/cor 1447 determine energy costs for plt operations 3 (#1451)
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/package.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1627: streamline windows node signing process
  .github/workflows/release-test.yaml
  scripts/distribution/windows/build-all.ps1
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1627: streamline windows node signing process
  .github/workflows/release.yaml
  scripts/distribution/windows/build-all.ps1
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

COR-1627: streamline windows node signing process (#1453)
  .github/workflows/release.yaml
  scripts/distribution/windows/build-all.ps1
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update .github file, rustfmt.toml, Cargo.lock and bump base.
  .github/workflows/build-test.yaml
  concordium-node/Cargo.lock
  rustfmt.toml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Format.
  concordium-node/benches/p2p_lib_benchmark.rs
  concordium-node/build.rs
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/common/mod.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/connection/tests.rs
  concordium-node/src/consensus_ffi/catch_up.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/dumper.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/health.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/stats_export_service.rs
  concordium-node/src/test_utils.rs
  concordium-node/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Format more.
  collector-backend/src/bin/node-collector-backend.rs
  collector-backend/src/lib.rs
  collector/src/bin/collector.rs
  macos_logger_wrapper/build.rs
  macos_logger_wrapper/src/lib.rs
  service/windows/src/config.rs
  service/windows/src/main.rs
  service/windows/src/manager.rs
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Format.
  service/windows/installer/custom-actions/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

model
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fmt
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

chore: test changes to pipeline
  .github/workflows/build-test.yaml
  .gitignore
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: comment out codecov piece
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: use cargo-llvm-cov
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

rename
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

build all PRs
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ar/cor 1781 clean up haskell cbor model to match cis 7 spec (#1455)
  concordium-consensus/benchmarks/transactions/TransactionsBench.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ar/cor 1781 clean up haskell cbor model to match cis 7 spec rename token holder (#1456)
  .github/workflows/build-test.yaml
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

additional param
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
