Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Improve documentation, and streamline some typeclass constraints.
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 4.4.1
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Print time stamps in execute-chain runner
  concordium-consensus/test-runners/execute-chain/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ensure the update type matches the event
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused caching ffi func. for v1 contract state.
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add GetBlockInfo to gRPC api v2
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add GetBakerList to gRPC api v2
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement toProto for ARInfo
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix agent selector
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Fix renamed params
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

fix credentials
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

fix curl
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

fix tagging
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Block removal starting with the last finalized block
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Block removal until the last with a valid blockstate
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement toProto for IpInfo
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix buildx and cleanup
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

fix double ..
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

fix delete
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Changelog and documentation.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Renaming based on renamings in base.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P2/ProtocolP3.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix interpolation
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Add GetPoolStatus and GetPassiveDelegationStatus to gRPC api v2
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addressing review comments.
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add comments
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Add GetBlocksAtHeight to gRPC api v2
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Doc.
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix basic transaction table migration, add documentation.
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add some documentation and remove some wrapper types
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation.
  concordium-consensus/src/Concordium/GlobalState/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update block height index after rollback
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Doc.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix issue in migration of persistent bakers. Documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/PoolRewards.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Do not migrate modules twice.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More documentation.
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Reboot.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply suggestions from code review
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none
