Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Cleanup installers, and other leftover pieces pointed out in the code review.
  CHANGELOG.md
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-node/README.md
  docker-compose/Dockerfile
  docker-compose/README.md
  docs/data-storage.md
  scripts/static-binaries/build-on-ubuntu.sh
  service/windows/installer/Node.wxs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes the broken docs/comments
  concordium-consensus/haskell-bench/LRUCache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 4.2.2 for stagenet deployment.
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Pass account cache size from Rust to Haskell.
  concordium-consensus/src/Concordium/External.hs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes build errors in unit tests
  concordium-consensus/tests/globalstate/GlobalStateTests/AccountReleaseScheduleTest.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Cache.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentTreeState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

..
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
  concordium-consensus/tests/scheduler/SchedulerTests/StakedAmountLocked.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TestUtils.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

...
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise the distribution image and its build script.
  jenkinsfiles/distribution-image.Jenkinsfile
  scripts/distribution/README.md
  scripts/distribution/builder.Dockerfile
  scripts/distribution/concordium.conf
  scripts/distribution/docker-entrypoint.sh
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/docker/node.yaml
  scripts/distribution/supervisord.conf
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Basic LRU implementation
  concordium-consensus/haskell-bench/LRUCache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Cache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

remove unused code
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added some strictness
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Load retains items in cache.
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Tweaks to deterministic runner
  concordium-consensus/test-runners/deterministic/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Simplify SupportsPersistentAccount constraint.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove grpc documentation files
  docs/grpc-for-smart-contracts.md
  docs/grpc.md
Due: none

.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Restructure a bit, provide examples for mainnet and testnet.
  jenkinsfiles/distribution-image.Jenkinsfile
  scripts/distribution/docker/README.md
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/node.yaml
  scripts/distribution/docker/testnet-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use stable dockerfile image, fix README.
  scripts/distribution/docker/README.md
  scripts/distribution/docker/builder.Dockerfile
Due: none

Improve documentation, optimize catchup.
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Skov/CatchUp.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revert .
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add pull_policy to example configurations.
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise the distribution image and its build script. (#422)
  jenkinsfiles/distribution-image.Jenkinsfile
  scripts/distribution/README.md
  scripts/distribution/builder.Dockerfile
  scripts/distribution/concordium.conf
  scripts/distribution/docker-entrypoint.sh
  scripts/distribution/docker/README.md
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/builder.Dockerfile
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
  scripts/distribution/supervisord.conf
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Various experimental changes.
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/test-runners/execute-chain/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

ShortByteString-based Trie.
  concordium-consensus/src/Concordium/GlobalState/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Displaying cache stats & don't initialise transaction table in `initialSkovPersistentData`
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/test-runners/execute-chain/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve naming and documentation.
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove grpc .md documents and update grpc dependency (#430)
  docs/grpc-for-smart-contracts.md
  docs/grpc.md
Due: none

Add libpq to the final image.
  scripts/distribution/docker/builder.Dockerfile
Due: none

Trie implementation with branches as ordered array of pairs.
  concordium-consensus/benchmarks/trie/TrieBench.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix Serialze & BlobStorable instances for Trie. Further optimisation of the branches. Additional unit tests.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Some Trie simplifications and a better FixedTrieKey instance for AccountAddress.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replace `BufferedBlobbed` with a simpler `BufferedFix`.
  concordium-consensus/src/Concordium/GlobalState/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Instances.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add a state for BufferedRef that is both on disk and in memory (without the IORef).
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
