Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Remove genesis data from genesis block pointer.
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/ProtocolP2.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P1/Reboot.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P2/ProtocolP3.hs
  concordium-consensus/src/Concordium/ProtocolUpdate/P3/ProtocolP4.hs
  concordium-consensus/tests/consensus/ConcordiumTests/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid decoding the initial genesis if the state already exists.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use CredentialRegistrationIDRaw instead of CredentialRegistrationID.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use raw account encryption key in the state.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addresses review comment
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Cache.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make documentation more precise.
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix precision of stored block receive and arrive times. They are now in microseconds.
  concordium-consensus/src/Concordium/GlobalState/BlockPointer.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix test compilation.
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/tests/consensus/ConcordiumTests/CatchUp.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
  concordium-consensus/tests/scheduler/SchedulerTests/EncryptedTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxIncomingAmountsTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make documentation more precise.
  concordium-consensus/src/Concordium/GlobalState/BlockPointer.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Deferred credential registration id deserialization until use
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Invariants.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Updated CHANGELOG
  CHANGELOG.md
Due: none

Changed credential id representation to RawCredentialRegistrationID
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Invariants.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

getAccountByCredId now takes RawCredentialRegistrationID as argument
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Install package 'ca-certificates' to make node collector work over HTTPS
  scripts/docker/node-collector.Dockerfile
Due: none

Made RemovedCredentials raw
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Correct the Windows package version.
  service/windows/installer/Node.wxs
Due: none

Update testnet genesis in mac and windows distributions.
  service/windows/installer/resources/testnet-genesis.dat
Due: none

Update ubuntu build script.
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
Due: none

Fix environment variable naming.
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node.plist
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
Due: none

Install package 'ca-certificates' to make node collector work over HTTPS (#382)
  scripts/docker/node-collector.Dockerfile
Due: none

Fix bug in checking for overdelegation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix basic implementation of removing delegators/decreasing stake as well.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add basic regression test for the delegator reduce/remove fix.
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version of the node and Win installer to 4.1.1.
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

More unit tests for delegation.
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename Credential...Raw to RawCredential....
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add regression test for the transfer amount even bug.
  concordium-consensus/testdata/contracts/v1/transfer.wasm
  concordium-consensus/testdata/contracts/v1/transfer.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ensure consistent naming of Raw* types.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Loosen the sandboxing and allow writable and executable regions.
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
Due: none

Add documentation and ensure consistent naming.
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateAccountKeys.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make documentation reflect reality.
  CHANGELOG.md
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Elaborate on TODOs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revert needless empty line change.
  concordium-consensus/test-runners/deterministic/Main.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix test compilation.
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update installer versions, and use -I0 in mac and ubuntu distributions.
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node.plist
  scripts/distribution/ubuntu-packages/template/debian/concordium-node.service
  service/windows/installer/Node.wxs
Due: none

Add `-I0` also to the default windows config.
  service/windows/installer/resources/nodes.toml
Due: none
