Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Expand documentation on grpc_request_duration_seconds
  docs/prometheus-exporter.md
Due: none

Formatting KonsensusV1.LMDB.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Correct changelog related to released metrics
  CHANGELOG.md
Due: none

Rename (new) GenesisConfiguration to GenesisMetadata
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documenting tests.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments, rename and fix documentation
  concordium-node/Cargo.lock
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Some initial setup of state for testing transaction processing.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

processBlockItem verifiable credential deployment
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More tests and a small refactor to processBlockItem
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address more review comments
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/grpc2.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump dependencies that have security advisories.
  .github/workflows/build-test.yaml
  collector-backend/Cargo.lock
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/Cargo.lock
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ensure lock files are up-to-date.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

More tests for transaction batch processing.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup the test file for transaction processing.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise timeout certificate. Add previous epoch bakers to EpochBakers.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Label ContinueCatchUp as a valid message in prometheus metrics
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block verification
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Leader election functionality for new consensus.
  concordium-consensus/benchmarks/leader-election/LeaderElectionBench.hs
  concordium-consensus/package.yaml
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/Kontrol/UpdateLeaderElectionParameters.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LeaderElectionTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/LeaderElectionTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes after rebase
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/Startup.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply suggestions from code review
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix catchup message labelling (#765)
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump version and update changelog.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Addressing review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TransactionVerifier.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

TransactionEnergyLimit tx ver result is now maybeok.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addressing review comments.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Some testing.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Forcing the 'PendingBlock' when adding it for good measure.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add `getBakersForLiveEpoch`.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend prometheus exporter with grpc_pending_requests metric
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/grpc2.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix compilation after merge.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add consensus tests file.
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move BakerIdentity to its own file.
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/Types/BakerIdentity.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
