Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Add binaries smoke test
  scripts/distribution/macOS-package/build.sh
Due: none

..
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove duplicate paths
  scripts/distribution/macOS-package/build.sh
Due: none

Revert macos runner pin
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Docs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix CD error
  scripts/distribution/macOS-package/build.sh
Due: none

thaw/freeze for every lock operation
  plt/plt-block-state/src/entity/block_state/p11.rs
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/smart_contract_trie.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Lock return -> release
  CHANGELOG.md
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-scheduler-types/src/types/reject_reasons.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/lock_release.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Clean up persistent lock model
  plt/plt-block-state/src/entity/protocol_level_locks/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent.rs
  plt/plt-block-state/src/persistent/lfmb_tree.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent/blob_store.rs
  plt/plt-block-state/src/persistent/cacheable.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent/cacheable.rs
  plt/plt-block-state/src/persistent/hash.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/Cargo.lock
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/proptest-regressions/persistent/trie.txt
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent/blob_store.rs
  plt/plt-block-state/src/persistent/hash.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Block state trie
  plt/plt-block-state/src/persistent/trie.rs
  plt/plt-block-state/src/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
