Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Don't retransmit normal transactions that duplicate nonces.
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Better handling for incoming connections.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Accept multiple connections per readiness event.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add option to set the number of connections to process in a single iteration at runtime.
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Don't retransmit update instructions that are not in order.
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix handshake serialization.
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Don't store or retransmit transactions whose expiry is too far in the future.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make stagenet build pipeline build static libs
  jenkinsfiles/stagenet.Jenkinsfile
  scripts/distribution/build-and-push-stagenet.sh
  scripts/distribution/stagenet.Dockerfile
Due: none

Set image tag explicitly
  jenkinsfiles/stagenet.Jenkinsfile
  scripts/distribution/build-and-push-stagenet.sh
Due: none

Don't accept transactions that exceed max size.
  concordium-node/src/configuration.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Skip publishing if image tag starts with "test"
  scripts/distribution/build-and-push-stagenet.sh
Due: none

Factoring out common code between nonce and sequence number handling.
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Hiding updatePttEntry helper function.
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixing comment formatting.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Don't store or retransmit transactions if the pending table is too large.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Handle new add-AR and -IP update types
  concordium-consensus/ChangeLog.md
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Prettify json and document fields. Minor fixes.
  grpc-for-smart-contracts.md
Due: none

Show as javascript to allow comments
  grpc-for-smart-contracts.md
Due: none

Document gRPC related to smart contracts
  grpc-for-smart-contracts.md
Due: none

Remove obsolete and unused feature.
  concordium-node/src/bin/cli.rs
  concordium-node/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Reduce logging of invalid transactions.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Reduce logging spam in case of many bad events.
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
