Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Retroactively fix chain update handling.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix catch-up handling of timeout certificates.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  CHANGELOG.md
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 6.0.4.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update base in order to support "GetBakersRewardPeriod".
  CHANGELOG.md
Due: none

Some getbakersrewardperiod impl.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

GetBlockBakersReward impl and formatting.
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup GetBakersRewardPeriod.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments on database changes.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rust side of 'GetBakersRewardPeriod'.
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not restore quorum messages.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add GetBakerEarliestWinTime query.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Unavailable at current protocol version.
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Move types from KonsensusV1/Types.hs to base.
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

parameterize finalizerset.
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup the diff a bit.
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

After updating Jenkins Docker now recognises buildx is installed
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

After updating Jenkins Docker now recognises buildx is installed (#994)
  jenkinsfiles/activate-distribution-image.Jenkinsfile
Due: none

Some work on `getBlockCertificates` queryl
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename variable.
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Purify isFinalizer in getBakersRewardPeriod.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting queries.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting in comments.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base pointer.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

getBlockCertificates implementation in consensus module.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update cargo.lock
  concordium-node/Cargo.lock
Due: none

Update concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Node impl and CHANGELOG.
  CHANGELOG.md
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix whitespace in changelog.
  CHANGELOG.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
