Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Fix branch references to refer to main (the default branch).
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Set up licenses.
  LICENSE
  concordium-consensus/package.yaml
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise the local docker compose setup.
  .gitignore
  .gitlab-ci.yml
  docker-compose/Dockerfile
  docker-compose/README.md
  docker-compose/bakers.yaml
  jenkinsfiles/dev-master.Jenkinsfile
  scripts/GENESIS_DATA_VERSION
  scripts/README.md
  scripts/download-genesis-complementary-bundle.sh
  scripts/download-genesis-data.sh
  scripts/genesis/README.md
  scripts/genesis/generate-test-genesis.py
  scripts/genesis/genesis.json
  scripts/start.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove obsolete file, adjust fmt job to also run when the configuration changes.
  .github/workflows/rustfmt.yaml
  concordium-node/concordium.test.key
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update baker id gen repository link.
  docker-compose/Dockerfile
Due: none

Make build script pull from github
  docker-compose/Dockerfile
  jenkinsfiles/master.Jenkinsfile
Due: none

Use public images.
  docker-compose/Dockerfile
Due: none

Revise static libraries build script so it does not push.
  scripts/static-libraries/README.md
  scripts/static-libraries/build-and-push-static-libs.sh
Due: none

Revise the docker compose build to build static libraries instead of downloading them.
  docker-compose/Dockerfile
Due: none

Use public docker image.
  docker-compose/Dockerfile
Due: none

Use lowercase variable names for parameters.
  docker-compose/Dockerfile
Due: none

Echo how to update the recorded static libraries.
  docker-compose/bakers+wallet-proxy.yaml
  scripts/static-libraries/build-and-push-static-libs.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Do not use self-chosen node ids for identifying peers.
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/catch_up.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Allow blocking multiple nodes on the same IP address.
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not store the connection token explicitly, but rather through the peer id.
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation of the different peer identifiers.
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove a FIXME. It will be handled in a subsequent PR.
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Also run checks when switching from draft to ready for review.
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Towards the multi-version runner.
  concordium-consensus/src/Concordium/Afgjort/Buffer.hs
  concordium-consensus/src/Concordium/Constants.hs
  concordium-consensus/src/Concordium/External2.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove capnproto serialization support.
  .github/workflows/build-test.yaml
  concordium-node/Cargo.toml
  concordium-node/README.md
  concordium-node/benches/p2p_lib_benchmark.rs
  concordium-node/build.rs
  concordium-node/src/lib.rs
  concordium-node/src/network/serialization/cap.rs
  concordium-node/src/network/serialization/mod.rs
  concordium-node/src/network/serialization/p2p.capnp
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p_capnp.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
