Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Remove some obsolete things.
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix docker-compose README
  docker-compose/README.md
Due: none

Bump genesis data version to fix the format.
  scripts/GENESIS_DATA_VERSION
Due: none

Add smart contracts host functions unit tests.
  concordium-consensus/testdata/contracts/action-tree-tests.wasm
  concordium-consensus/testdata/contracts/action-tree-tests.wat
  concordium-consensus/testdata/contracts/get-parameter-section-tests.wasm
  concordium-consensus/testdata/contracts/get-parameter-section-tests.wat
  concordium-consensus/testdata/contracts/get-parameter-size-tests.wasm
  concordium-consensus/testdata/contracts/get-parameter-size-tests.wat
  concordium-consensus/testdata/contracts/load-state-tests.wasm
  concordium-consensus/testdata/contracts/load-state-tests.wat
  concordium-consensus/testdata/contracts/log-event-tests.wasm
  concordium-consensus/testdata/contracts/log-event-tests.wat
  concordium-consensus/testdata/contracts/memory-tests.wasm
  concordium-consensus/testdata/contracts/memory-tests.wat
  concordium-consensus/testdata/contracts/only-in-init-tests.wasm
  concordium-consensus/testdata/contracts/only-in-init-tests.wat
  concordium-consensus/testdata/contracts/only-in-receive-tests.wasm
  concordium-consensus/testdata/contracts/only-in-receive-tests.wat
  concordium-consensus/testdata/contracts/resize-state-tests.wasm
  concordium-consensus/testdata/contracts/resize-state-tests.wat
  concordium-consensus/testdata/contracts/send-tests.wasm
  concordium-consensus/testdata/contracts/send-tests.wat
  concordium-consensus/testdata/contracts/simple-transfer-tests.wasm
  concordium-consensus/testdata/contracts/simple-transfer-tests.wat
  concordium-consensus/testdata/contracts/state-size-tests.wasm
  concordium-consensus/testdata/contracts/state-size-tests.wat
  concordium-consensus/testdata/contracts/write-state-tests.wasm
  concordium-consensus/testdata/contracts/write-state-tests.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContractTests.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address warnings in consensus tests.
  concordium-consensus/tests/consensus/ConcordiumTests/Afgjort/CSS.hs
  concordium-consensus/tests/consensus/ConcordiumTests/Afgjort/Freeze.hs
  concordium-consensus/tests/consensus/ConcordiumTests/PassiveFinalization.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement lower limit for registering a Baker
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/test-runners/app/Main.hs
  concordium-consensus/test-runners/catchup/Main.hs
  concordium-consensus/test-runners/deterministic/Main.hs
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Jenkins: push 35e00569c1492c9f1781b93143d91281eea121a9 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push 655a93bc18d8c547f9ca4840a0cf128a0f510fcb static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Accounts track removed credentials
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up and documentation
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use genesis hash in bootstrapper
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  scripts/start.sh
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bootstrapper now accepts path to file for regenesis hashes
  concordium-node/Cargo.toml
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Rename flag to `-file`
  concordium-node/src/configuration.rs
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Jenkins: push f490b5a33c5c418c327ebd2b4a58f90585a088f8 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push 7cea00902fd7dc894efd7e58db0607fe28089448 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

CR
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Jenkins: push 63560dbc7217686651c70b0aa0aa9917f1a46186 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Jenkins: push 26ff3ab90d05b8de52c89aad57159fcc43ca4d37 static libraries. [skip ci]
  scripts/static-libraries/LATEST_STATIC_LIBRARIES
Due: none

Fix JSON parsing
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  docker-compose/bakers.yaml
  scripts/GENESIS_DATA_VERSION
  scripts/start.sh
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix (now for real) the JSON parsing
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Make clippy happy again
  concordium-node/src/bin/bootstrapper.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Expanding information passed into contract rejects.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/testdata/contracts/error_code/src/lib.rs
  concordium-consensus/testdata/contracts/error_code/target/concordium/wasm32-unknown-unknown/release/error_code.wasm
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasonsRustContract.hs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
