Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Improve documentation.
  concordium-node/src/common/p2p_node_id.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use RST instead of RWST to reduce memory usage
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use strict version to improve memory usage
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Modify state in one go
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Introduced timeout for block construction.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added a line of documentation.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

External queries.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External2.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries/Types.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make additional performance tweaks
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Adressed comments on PR.
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed TODO that is being fixed by this PR.
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make build-static-libraries.sh executable
  scripts/static-libraries/build-static-libraries.sh
Due: none

Make build-static-libraries.sh executable (#8)
  scripts/static-libraries/build-static-libraries.sh
Due: none

Introduce PersistedBanId to distinguish between the two types of bans.
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Startup, shutdown and baking for multi-version runner.
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/Constants.hs
  concordium-consensus/src/Concordium/External2.hs
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries/Types.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/src/Concordium/Skov/MonadImplementations.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/tests/consensus/ConcordiumTests/CatchUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Consolidate soft ban checks.
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Adjusted tests according to changes in scheduler.
  concordium-consensus/src/Concordium/Scheduler/DummyData.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/AccountTransactionSpecs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BlockEnergyLimitSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitialAccountCreationSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RandomBakerTransactions.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasonsRustContract.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransfersTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/StakedAmountLocked.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TestUtils.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionGroupingSpec2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Replace a few more panics with consistent error handling.
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Minor change.
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove redundancy/complexity in instantiate_node.
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/bin/database_emitter.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/configuration.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More ffi.
  concordium-node/src/consensus_ffi/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Some spacing.
  concordium-node/src/consensus_ffi/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Plugging in blocktime parameter to some function calls.
  concordium-node/src/bin/genesis_tester.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update build process of consumer images for stagenet
  jenkinsfiles/stagenet.Jenkinsfile
  scripts/distribution/build-and-push-stagenet.sh
  scripts/distribution/build-and-push-staging-client.sh
  scripts/distribution/stagenet.Dockerfile
  scripts/distribution/stagenet.sh
Due: none

Fix
  scripts/distribution/build-and-push-stagenet.sh
Due: none

Fix documentation comments.
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/network/buckets.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove capnproto serialization support.
  .github/workflows/build-test.yaml
  concordium-node/Cargo.toml
  concordium-node/README.md
  concordium-node/benches/p2p_lib_benchmark.rs
  concordium-node/build.rs
  concordium-node/src/lib.rs
  concordium-node/src/network/serialization/cap.rs
  concordium-node/src/network/serialization/mod.rs
  concordium-node/src/network/serialization/p2p.capnp
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p_capnp.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation of the different peer identifiers.
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove a FIXME. It will be handled in a subsequent PR.
  concordium-node/src/connection/mod.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/p2p/maintenance.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not use self-chosen node ids for identifying peers.
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/common/p2p_peer.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/catch_up.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/network/buckets.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/p2p/bans.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/p2p/mod.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Also run checks when switching from draft to ready for review.
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Do not store the connection token explicitly, but rather through the peer id.
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
