Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Fix account migration.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/MigrationState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Type-safe BlobStore (WIP).
  concordium-consensus/src/Concordium/Afgjort/Finalize.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateFFIHelpers.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/CooldownQueue.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/EncryptedAmount.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/AccountReleaseScheduleV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Cache.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LFMBTree.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/PoolRewards.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog. Bump version for release.
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

fix: wrong account version in comment
  concordium-consensus/src/Concordium/GlobalState/Account.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix handling of consensus exceptions.
  concordium-consensus/src-lib/Concordium/External.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-node/Cargo.lock
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog.
  CHANGELOG.md
Due: none

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address one more review comment.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments from code review.
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address more comments from code review.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix the payday timing at the P6->P7 protocol update.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/PoolRewards.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comment
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

7.0.2 release.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix issue where an error is thrown when the last finalized block is the genesis block after a state migration.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix computation of regenesis block heights.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog. Bump version.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix base ref
  concordium-node/Cargo.lock
Due: none

Add new transaction types for suspend/resume
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement `accountIsSuspended` in `Persistent/BlockState.hs`
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/AccountReleaseSchedule.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/CooldownQueue.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix: comments, format
  concordium-consensus/src/Concordium/GlobalState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV0.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update of tests
  concordium-consensus/tests/globalstate/GlobalStateTests/AccountsMigrationP6ToP7.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Delegation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

scheduler/queries/blockstate actions for suspend/resume
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add comment to `setSuspended`
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

dummy implementation for transaction helper
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implementation of `getIsSuspended`
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implementation of suspend/resume action for ConfigureBaker transaction
  concordium-consensus/ChangeLog.md
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix new tests after rebase
  concordium-consensus/blb704972-31.dat
  concordium-consensus/tests/globalstate/GlobalStateTests/BlockStateHelpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

trying to implement suspension via FullBakersEx field
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Adding tests
  concordium-consensus/blb409994-92.dat
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account/StructureV1.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LeaderElectionTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Exclude suspended validators from finalization
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/LeaderElection.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tests
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/FinalizationCommittee.hs
  concordium-consensus/tests/scheduler/SchedulerTests/KonsensusV1/EpochTransition.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix the calculation of the next payday time in the `GetTokenomicsInfo` query.
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update changelog and bump version
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix formatting.
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
