Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Add tests and block serialization.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/LFMBTree.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/Spec.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/LFMBTree.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

some types added
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

undo
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove unused prometheus metrics
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Adding some types to the API
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add low-level tree state interface.
  concordium-consensus/src/Concordium/GlobalState/Classes.hs
  concordium-consensus/src/Concordium/GlobalState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/Memory.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

TreeState edits
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add documentation on enabling and configuring the prometheus exporter
  docs/prometheus-exporter.md
Due: none

More doc and refinements.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments
  docs/prometheus-exporter.md
Due: none

Documentation and a few types.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/Memory.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Log the enabling of Prometheus push gateway even when exporter is enabled
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Correct logs related to Prometheus
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Low-level tree state implementation
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/Memory.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Parameterized TransactionTable with an Ord so it can be reused for new TreeState.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 5.2.1.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Introduce IsCommitPoint constraint in order to prevent some unecessary ad-hoc polymorphism.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remnants from the old tsSlot and ftsSlot
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix test
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make sure clippy also fails on rustc warnings.
  .github/workflows/build-test.yaml
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/stats_export_service.rs
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove obsolete comment.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

commitTransactions changed.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Provide documentation for each of the metrics exposed by prometheus exporter
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use a more consistent metric naming and expand help text
  concordium-node/src/bin/cli.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/peers.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/rpc.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove unused feature "gen" from prometheus dependency
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Adding more things to 'RoundStatus' and separating out impl.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

TreeStateImpl
  concordium-consensus/src/Concordium/KonsensusV1/TreeStateImpl.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

commitTransactions now takes a list of verified transactions
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove some uneccesary lenses for now
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Renaming
  concordium-consensus/src/Concordium/KonsensusV1/TreeStateImpl.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments
  CHANGELOG.md
  docs/prometheus-exporter.md
Due: none

Add new BlockPointer
  concordium-consensus/src/Concordium/KonsensusV1/TreeStateImpl.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix doc
  concordium-consensus/src/Concordium/KonsensusV1/TreeStateImpl.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Low-level tree state database implementation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/Memory.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix build
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Dot dot
  concordium-consensus/src/Concordium/KonsensusV1/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeStateImpl.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
