Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

GRPC2 - Banning (#534)
  concordium-node/build.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

peer connect/disconnect (#538)
  concordium-node/build.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix copying output files
  jenkinsfiles/database-exporter.Jenkinsfile
Due: none

shutdown (#539)
  concordium-node/build.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

build.rs fix
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

addressing review comments
  concordium-node/build.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

revert
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix
  concordium-consensus/src/Concordium/GlobalState/Persistent/CachedRef.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix merge
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Refactoring to support AccountV2.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Block.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Rewards.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/ProtocolUpdate.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Startup.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

clippy fix
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

bump grpc
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revert "."
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

some instance
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

.
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Expose block chain parameters.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

bump grpc
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Addressing review comments
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Expose block finalization data.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fix.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Node queries (#531)
  concordium-node/build.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Simplify.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Invalidate github actions cache.
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement the health check endpoint.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/build.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/health.rs
  concordium-node/src/lib.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Complete implentation of GetBlockItems.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove a "requires" option since it does not work with a default value.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Format.
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Do not require since it does not work correctly with clap default values.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Expose update keys in grpc2.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-node/src/health.rs
  concordium-node/src/health.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Grpc endpoint enabling.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

GRPC BlockItems (#540)
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/TreeState.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Merge with main.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test
