Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Fix tests
  concordium-consensus/test-runners/execute-chain/Main.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
  concordium-node/Cargo.lock
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes the broken link to `smart-contracts` repository
  docs/contracts.md
Due: none

Initial test for cross messaging and checkpointing.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix tracking of modifications.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Restrict leverage and capital bounds to sensible values.
  concordium-consensus/src/Concordium/GlobalState/DummyData.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 4.0.5
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

fix
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

..
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Some doc
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Addressing review comments.
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Tests cross checkpointing (#256)
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Checkpointing.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix overdelegation when changing delegation target. Fix bound cap calculation when capital bound is 1.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make the cost reported by invokeContract in line with transaction cost.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revise `getSlotBakers` for P4 protocol version.
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Kontrol/Bakers.hs
  concordium-consensus/src/Concordium/Kontrol/BestBlock.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Check that the target of delegation is an open pool when adding or configuring a delegator.
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-node/Cargo.lock
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Distinguish different commission rate failures
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use the existing Cargo.lock file when building static libraries.
  scripts/static-libraries/build-static-libraries.sh
Due: none

A probable fix for the issue #245: Collector hangs after error
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixes issue #244: Collector to keep querying
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Replaces `thread::sleep` with corresponding tokio artifacts.
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixes source formatting.
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Updates changelog.
  CHANGELOG.md
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add allPoolTotalCapital to the PoolStatus.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Version 4.0.6
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixes the issue #259: Expose foundation account address
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix global state mock.
  concordium-consensus/tests/scheduler/GlobalStateMock.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixes after review comments.
  concordium-consensus/src/Concordium/External.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Updates changelog.
  CHANGELOG.md
Due: none

Add more new contract state documentation.
  docs/contracts.md
Due: none

Clarify entry invalidation.
  docs/contracts.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none
