Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Fix last remnants of AccountsAndDiffMap.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix the very last remnants of AccountsAndDiffMap.
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Changelog.
  CHANGELOG.md
Due: none

cargo lock.
  concordium-node/Cargo.lock
Due: none

Remove unused error.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix a memory leak with difference maps. Updated documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/External/DryRun.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
  docs/grpc2.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix mem leak.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added some strictness.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

track lf acc nonce via bs instead of tt.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/KonsensusV1/Transactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

cleanup
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add todo
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix memory leak caused by difference maps.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Genesis.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Trie.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments on diff map and accounts.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Refactor lmdb helper functions into helpers and reuse across all lmdb databases.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Simplify accaddr lookup from credential deployment when rolling back.
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make tests compile again.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/LMDBAccountMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Get tests back on track!
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add more tests for DifferenceMap.
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments, moving Option out in its own module.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/LMDBAccountMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add missing Concordium.Types.Option module
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/CatchUp/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Types/Option.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TransactionProcessingTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address comments.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Only finalized accounts are being persisted in the lmdb account map. Fix getAllAccounts query.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Types/Option.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Reconstruct difference maps for certified blocks on startup.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

storeRecord instead of storeReplaceRecord for insertions into lmdb account map.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Lookup account index with and without alias support.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Cleanup and fix tests.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/DifferenceMap.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/LMDBAccountMap.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update base.
  concordium-node/Cargo.lock
Due: none

Bump version to 6.2.0 for stagenet.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove V1 grpc API.
  concordium-consensus/src/Concordium/External.hs
  concordium-node/Cargo.toml
  concordium-node/build.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/mod.rs
  concordium-node/src/lib.rs
  concordium-node/src/rpc.rs
  service/windows/src/config.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Purge accounts from anft table when they do not have any pending transactions.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/PurgeTransactions.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update lib.def.
  concordium-consensus/lib.def
Due: none

Formatting.
  concordium-consensus/src/Concordium/External.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Queries now take nextNonce potentially by bs if no entry in tt.
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Don't include non-existing file.
  concordium-node/src/common/grpc_api.rs
  concordium-node/src/common/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove Windows service config.
  CHANGELOG.md
  VARIABLES.md
  service/windows/src/config.rs
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/AccountMap/DifferenceMap.hs
  concordium-consensus/src/Concordium/GlobalState/AccountMap/LMDB.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/LMDB/Helpers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/LMDB.hs
  concordium-consensus/src/Concordium/ImportExport.hs
  concordium-consensus/src/Concordium/KonsensusV1/SkovMonad.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/StartUp.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix curly quotes in documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
