Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Start adding delegation to global state
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Kontrol/BestBlock.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix failure transfer through FFI.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added build dependency management through nix-shell
  .envrc
  shell.nix
Due: none

removed .envrc
  .envrc
  .gitignore
Due: none

Initial work
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/common/mod.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/catch_up.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/schema.fbs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Tell the invoker contract whether its state was updated by the call.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/testdata/contracts/v1/call-counter.wasm
  concordium-consensus/testdata/contracts/v1/call-counter.wat
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Added delegators to basic active bakers
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Invariants.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Accounts.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Removed some warnings
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Initial work.
  concordium-node/src/bin/bootstrap_checker.rs
  concordium-node/src/bin/bootstrapper.rs
  concordium-node/src/bin/cli.rs
  concordium-node/src/common/mod.rs
  concordium-node/src/common/p2p_node_id.rs
  concordium-node/src/connection/low_level.rs
  concordium-node/src/network/mod.rs
  concordium-node/src/network/serialization/fbs.rs
  concordium-node/src/network/serialization/schema.fbs
  concordium-node/src/network/serialization/tests.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/rpc.rs
  concordium-node/src/test_utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add a unit test for invoking a contract.
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/Invoke.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Additional tests.
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/Invoke.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Modifying Epoch bakers.
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Account.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Change types of FFI functions to take c_char where the Haskell side expects CString.
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Replace panics triggered by some queries with graceful responses.
  CHANGELOG.md
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove needless copying for some FFI queries.
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/mod.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixed bugs related to new delegator sets in active bakers
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fixed delegator accumulation in the transition epoch bakers functions
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Ignore html files so that github displays a more appropriate language.
  .gitattributes
Due: none

Put commission rates inside ranges when chain parameters change.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add testing of error codes returned to contracts, and fix related issues.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/testdata/contracts/empty.wasm
  concordium-consensus/testdata/contracts/empty.wat
  concordium-consensus/testdata/contracts/v1/caller.wasm
  concordium-consensus/testdata/contracts/v1/caller.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/Invoke.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Streamline error handling a bit.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Allow extra exports for V1 contracts, just don't use them.
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/testdata/contracts/v1/extra-exports.wasm
  concordium-consensus/testdata/contracts/v1/extra-exports.wat
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ErrorCodes.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ValidInvalidModules.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add some general documentation about contracts.
  docs/contracts.md
Due: none

Documentation of invoking a contract.
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Version module source as well in order to match versions.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/Runner.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration.hs
  concordium-consensus/src/Concordium/Scheduler/WasmIntegration/V1.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/FibonacciSelfMessageTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/InitPoliciesTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ReceiveContextTest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasons.hs
  concordium-consensus/tests/scheduler/SchedulerTests/RejectReasonsRustContract.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SimpleTransferSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContractTests.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/Invoke.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Counter.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/CrossMessaging.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ErrorCodes.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/Transfer.hs
  concordium-consensus/tests/scheduler/SchedulerTests/SmartContracts/V1/ValidInvalidModules.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TrySendTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump max transaction size in the network layer.
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix globalstate tests.
  concordium-consensus/tests/globalstate/GlobalStateTests/Instances.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve JSON instances.
  concordium-consensus/src/Concordium/GlobalState/Instance.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Disallow over delegation and bug fixes
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move InvokeContract types to Base
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Temp
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Continuing with bsoProcessPendingChanges
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Continuing with bsoProcessPendingChanges
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Finish basic bsoProcessPendingChanges and rollback some changes
  concordium-consensus/src/Concordium/GlobalState/BakerInfo.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState/Bakers.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Bakers.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
