Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Address review comments
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Documentation and tests
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove a couple of unused warnings.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

A definition
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

A few more lines of documentation and persist the new round.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Represent baking_committee status using one metric instead of labels
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Extend metrics with the current lottery power
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/rpc.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Tests and documentation for advancing epochs.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend metrics with current non-finalized transactions
  CHANGELOG.md
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Skov/Monad.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments
  concordium-node/src/stats_export_service.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/TreeState.hs
  docs/prometheus-exporter.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend metrics with count of baked blocks
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-node/src/bin/cli.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Block execution, adding arriving blocks, statistics.
  concordium-consensus/src/Concordium/GlobalState/Statistics.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/LMDB.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/LowLevel/Memory.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/Skov/Statistics.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/LMDB.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/GlobalState/TransactionTable.hs
  concordium-consensus/src/Concordium/GlobalState/Transactions.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address a few more review comments.
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-consensus/src/Concordium/GlobalState/Transactions.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/Skov/Query.hs
  concordium-consensus/src/Concordium/Skov/Update.hs
  concordium-consensus/src/Concordium/TransactionVerification.hs
  concordium-consensus/tests/consensus/ConcordiumTests/ReceiveTransactionsTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address a few review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend metrics with count of baked blocks
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-node/src/bin/cli.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Restructuring of consensus components. Start on finalization processing.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up code.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Processing block finalization.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Merge with round advancing
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add documentation for choice of implementation of baked blocks metric
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply suggestions from code review
  concordium-consensus/src/Concordium/MultiVersion.hs
  docs/prometheus-exporter.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Block finalization
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Uponce a time when receiving a quorum message.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/QuorumSignatures.hs
  concordium-consensus/src/Concordium/KonsensusV1/Flag.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/QuorumSignatures.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/src/Concordium/Types/BakerIdentity.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix formatting
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend metrics with indicator for unsupported pending protocol updates
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/MultiVersion.hs
  concordium-node/src/bin/cli.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Propagate changes from restructuring rust-src.
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More quorum signature handling and a few tests.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/QuorumSignatures.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Doc
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/QuorumSignatures.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix Haskell imports due to base update.
  concordium-consensus/src/Concordium/External.hs
  concordium-consensus/src/Concordium/External/GRPC2.hs
  concordium-consensus/src/Concordium/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix broken git links in readme
  concordium-consensus/README.md
Due: none

Moved current round signature messages to root of skovdata instead of roundstatus.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/QuorumSignatures.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address review comments.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
