Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

trying 1.88
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add windows target
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

state
  macos_logger_wrapper/Cargo.lock
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/blob_reference.rs
  plt/plt-block-state/src/block_state/types/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/block_state/types/reference.rs
  plt/plt-block-state/src/block_state/types/reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fixing compile errors related to format macro
  concordium-node/build.rs
  concordium-node/src/configuration.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/grpc2.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

using stable
  .github/workflows/build-test.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

resolving the alerts before trying to change tonic and all
  concordium-node/Cargo.lock
Due: none

trying to resolve alerts before tonic upgrade
  collector-backend/Cargo.lock
Due: none

store
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/bufferable.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

upgraded rust to stable and added expect line to silence clippy
  .github/workflows/build-test.yaml
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

ran cargo update time
  concordium-node/Cargo.lock
Due: none

ran cargo update time
  collector-backend/Cargo.lock
Due: none

cargo updates on collector folder
  collector/Cargo.lock
Due: none

elide lifetime removed
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

store
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/bufferable.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state/types/protocol_level_tokens.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/bufferable.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/ffi/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/hash.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

trying to add allow
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-types/Cargo.toml
  plt/plt-scheduler/Cargo.toml
  plt/plt-token-module/Cargo.toml
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

1.94
  .github/workflows/build-test.yaml
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

amended
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/blob_store.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

clippy
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix: copy plt rust libraries and strip out tokens
  scripts/static-libraries/build-static-libraries.sh
Due: none

state
  macos_logger_wrapper/Cargo.lock
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

no empty line
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fmt
  service/windows/src/main.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

remove copy at the top, already handled further down
  scripts/static-libraries/build-static-libraries.sh
Due: none

fix: println in build rs for static file
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

update build rs
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix: formatting:
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

changing rust version in release yaml
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update concordium-node/build.rs
  concordium-node/build.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

link
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/cacheable.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
  plt/plt-block-state/src/block_state/utils.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state/blob_reference.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/cacheable.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Support RBAC operations in token module
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/lib.rs
  plt/plt-token-module/src/roles.rs
  plt/plt-token-module/src/token_module.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_list_updates.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_update_metadata.rs
  plt/plt-token-module/tests/utils/kernel_stub.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

state
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_reference/hashed_buffered_reference.rs
  plt/plt-block-state/src/block_state/lfmb_tree.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
