Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Changelog.
  CHANGELOG.md
Due: none

PRAISETH BE THEE, GREAT FOURMOLU.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix quorum tests
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Missed collector flag
  scripts/distribution/docker/build-distribution-image.sh
Due: none

Added missing MacOS log wrapper
  collector/macos_log_wrapper.c
Due: none

Tidying up Timeout handling.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Types.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Testing windows support in a hacky way
  scripts/distribution/windows/build-all.ps1
Due: none

Apply limit to V1 API as well.
  CHANGELOG.md
  concordium-consensus/src/Concordium/External.hs
  concordium-node/src/bin/cli.rs
  concordium-node/src/configuration.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/rpc.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

A couple of tests before bedtime.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Put macos_logger into a separate crate.
  collector/Cargo.toml
  collector/build.rs
  collector/src/bin/collector.rs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/build.rs
  concordium-node/src/utils.rs
  macos_logger_wrapper/Cargo.toml
  macos_logger_wrapper/build.rs
  macos_logger_wrapper/macos_log_wrapper.c
  macos_logger_wrapper/src/lib.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove the collector from the node.
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

More tests for receiving quorum messages.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Formatting of KonsensusV1.Types module
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement `validateBlock`.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
  concordium-consensus/src/Concordium/KonsensusV1/Types.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Clean up imports
  concordium-consensus/src/Concordium/Birk/Bake.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Quorum cleanup.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Quorum.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Disable broadcast callbacks for receiveFinalizationRecord as well.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Revert queue size change for testing.
  concordium-node/src/consensus_ffi/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Towards fixing the CI, build scripts.
  .github/workflows/build-test.yaml
  concordium-node/Cargo.toml
  jenkinsfiles/ubuntu.Jenkinsfile
  macos_logger_wrapper/src/lib.rs
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/windows/build-all.ps1
  scripts/static-binaries/build-on-ubuntu.sh
  service/windows/Configuration.md
  service/windows/installer/Node.wxs
  service/windows/installer/build.ps1
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Start of some receiving of some timeout messages.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix port in ubuntu build.
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
Due: none

Fix windows build.
  scripts/distribution/windows/build-all.ps1
  service/windows/installer/build.ps1
Due: none

Tweaks to block and finalization processing.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/TreeState/Implementation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add lock file, fix openssl to compatible version.
  collector/Cargo.lock
  collector/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Review comments.
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Disable broadcast callbacks when performing out-of-band-catchup. (#804)
  CHANGELOG.md
  concordium-consensus/src/Concordium/MultiVersion.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove gotham logger.
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

A bit of cleanup.
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump rmp-serde.
  collector-backend/Cargo.lock
  collector-backend/Cargo.toml
  collector/Cargo.lock
  collector/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Appease clippy.
  collector/src/bin/collector.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump base, add bugfix to changelog.
  CHANGELOG.md
Due: none

Update README to list the revised packages.
  CHANGELOG.md
  README.md
Due: none

Add collector readme.
  collector/README.md
  concordium-node/README.md
Due: none

Migrating Collector to GRPCv2 (#801)
  .github/workflows/build-test.yaml
  CHANGELOG.md
  README.md
  collector-backend/Cargo.toml
  collector/Cargo.lock
  collector/Cargo.toml
  collector/README.md
  collector/build.rs
  collector/src/bin/collector.rs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/README.md
  concordium-node/build.rs
  concordium-node/src/bin/collector.rs
  concordium-node/src/utils.rs
  jenkinsfiles/ubuntu.Jenkinsfile
  macos_logger_wrapper/Cargo.toml
  macos_logger_wrapper/build.rs
  macos_logger_wrapper/macos_log_wrapper.c
  macos_logger_wrapper/src/lib.rs
  scripts/distribution/docker/build-distribution-image.sh
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
  scripts/distribution/macOS-package/build.sh
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.mainnet.node-collector.plist
  scripts/distribution/macOS-package/template/payload/tmp/Concordium Node/LaunchDaemons/software.concordium.testnet.node-collector.plist
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/template/debian/concordium-node-collector.service
  scripts/distribution/windows/build-all.ps1
  scripts/static-binaries/build-on-ubuntu.sh
  service/windows/Configuration.md
  service/windows/installer/Node.wxs
  service/windows/installer/build.ps1
  service/windows/src/node.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 5.3.1
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Add timeout test module and fix a broken test.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Timeout.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Timeout.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Updated docker compose configurations
  scripts/distribution/docker/mainnet-node.yaml
  scripts/distribution/docker/testnet-node.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Implement a basic test monad for consensus.
  concordium-consensus/src/Concordium/KonsensusV1/Consensus.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Finality.hs
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Quorum.hs
  concordium-consensus/src/Concordium/KonsensusV1/TestMonad.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/TreeStateTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
