Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Enqueue and run chain update
  concordium-consensus/src/Concordium/GlobalState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make token module update return TransactionRejectReason
  plt/plt-scheduler/src/failure.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/protocol_level_tokens/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/p9.rs
  plt/plt-scheduler/src/protocol_level_tokens/reject.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_amount.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/initialize.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/update.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add unit tests for chain update execution
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  concordium-consensus/tests/scheduler/SchedulerTests/MaxLockDurationUpdate.hs
  concordium-consensus/tests/scheduler/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Make RawTokenAmount value private and make all arithmetic go through the checked functions RawTokenAmount
  plt/plt-block-state/src/entity/block_state/migration/p10_to_p11.rs
  plt/plt-block-state/src/entity/block_state/migration/p9_to_p10.rs
  plt/plt-block-state/src/entity/protocol_level_tokens/p11.rs
  plt/plt-block-state/src/entity/protocol_level_tokens/p9.rs
  plt/plt-block-state/src/external.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/block_state/p9.rs
  plt/plt-block-state/src/persistent/protocol_level_tokens/p9.rs
  plt/plt-block-state/tests/block_state_p11.rs
  plt/plt-block-state/tests/block_state_p9.rs
  plt/plt-scheduler-types/src/types/events.rs
  plt/plt-scheduler-types/src/types/queries.rs
  plt/plt-scheduler-types/src/types/tokens.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_tokens/balance_operations.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_amount.rs
  plt/plt-scheduler/src/protocol_level_tokens/token_module/queries.rs
  plt/plt-scheduler/tests/lock_cancel.rs
  plt/plt-scheduler/tests/lock_fund.rs
  plt/plt-scheduler/tests/lock_return.rs
  plt/plt-scheduler/tests/lock_send.rs
  plt/plt-scheduler/tests/migration_p10_to_p11.rs
  plt/plt-scheduler/tests/migration_p9_to_p10.rs
  plt/plt-scheduler/tests/plt_block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_lock_queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_token_burn.rs
  plt/plt-scheduler/tests/plt_token_general_transactions.rs
  plt/plt-scheduler/tests/plt_token_initialize.rs
  plt/plt-scheduler/tests/plt_token_mint.rs
  plt/plt-scheduler/tests/plt_token_pause.rs
  plt/plt-scheduler/tests/plt_token_transfer.rs
  plt/plt-scheduler/tests/plt_transactions.rs
  plt/plt-scheduler/tests/utils/token.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Make token module update return TransactionRejectReason
  plt/plt-scheduler/src/protocol_level_tokens/token_module/update.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog
  CHANGELOG.md
Due: none

Fix failing golden p11 hash tests
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use PacketDestination as argument and remove call indirections
  concordium-node/src/connection/tests.rs
  concordium-node/src/consensus_ffi/messaging.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Skip forwarding directly send pending blocks
  concordium-node/src/plugins/consensus.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Update changelog and version preparing for build
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Update lock file
  concordium-node/Cargo.lock
Due: none

Add backpressure based on bytesize of pending messages
  CHANGELOG.md
  concordium-node/src/configuration.rs
  concordium-node/src/connection/message_handlers.rs
  concordium-node/src/connection/mod.rs
  concordium-node/src/consensus_ffi/consensus.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/p2p/maintenance.rs
  concordium-node/src/plugins/consensus.rs
  concordium-node/src/stats_export_service.rs
  concordium-node/src/test_utils.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Address review comments
  concordium-node/src/connection/mod.rs
  concordium-node/src/p2p/connectivity.rs
  concordium-node/src/stats_export_service.rs
  docs/prometheus-exporter.md
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add enforcement of max lock duration chain parameter
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-scheduler-types/src/types/reject_reasons.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/scheduler/p11.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add unit tests for duration bound enforcement
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add ffi wrapper test
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Changelog
  CHANGELOG.md
Due: none

Clean up + pass pv when loading rust managed chain params
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentChainParameters.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

..
  concordium-consensus/tests/globalstate/GlobalStateTests/PersistentChainParameters.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Change test helper macro to fn
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Use `SlotDuration` for `max_lock_duration` to align with Haskell.
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Type constraints for rust managed ecp support
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

..
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove redundant primed types
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use `Duration` instead of `SlotDuration`
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/p11.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/utils/entity_traits/scheduler_impl.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add structure for processing chain updates immutably
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Parameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/Migration.hs
  concordium-consensus/tests/globalstate/GlobalStateTests/UpdateQueues.hs
  plt/plt-block-state/src/ffi/external_chain_parameters.rs
  plt/plt-block-state/src/persistent/chain_parameters.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/p11.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Address PR feedback
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Updates.hs
  concordium-consensus/src/Concordium/Scheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Check empty AR map during updatecredentials execution
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/tests/scheduler/SchedulerTests/AccountTransactionSpecs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Use private base fork and deploy key in CI
  .github/workflows/build-test.yaml
  .github/workflows/cargo-deny-matrix.yaml
  .github/workflows/deployment-build-test.yaml
  .github/workflows/release.yaml
  .gitmodules
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add unit test for thread timer
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Chunk huge timeouts in `TimerMonad`
  concordium-consensus/src/Concordium/TimerMonad.hs
  concordium-consensus/src/Concordium/TimerMonad/Internal.hs
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add test with `DelayFor` used to schedule the callback
  concordium-consensus/tests/consensus/ConcordiumTests/TimerMonad.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Apply statistics hardening for blocktime related fields
  concordium-consensus/src/Concordium/GlobalState/Statistics.hs
  concordium-consensus/tests/consensus/ConcordiumTests/GlobalState/Statistics.hs
  concordium-consensus/tests/consensus/Spec.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add test for future block rejection
  concordium-consensus/src/Concordium/Constants/Time.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Reject future blocks exceeding the defined threshold
  concordium-consensus/src/Concordium/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
