Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Implement basic send transaction
  concordium-node/build.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Expose contract state in GRPC query.
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Avoid using mutable state.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/ContractStateV1.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/consensus_ffi/helpers.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Move iterator definition to wasm-chain-integration.
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add endpoint to query a specific key.
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

pipeline working
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Rename to send block item
  concordium-node/build.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Rename invokeContract to invokeInstance in gRPC api v2
  concordium-consensus/lib.def
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-node/build.rs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix space leak in nonce computation.
  concordium-consensus/src/Concordium/Kontrol/UpdateLeaderElectionParameters.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve error handling.
  concordium-consensus/src/Concordium/GRPC2.hs
  concordium-node/src/consensus_ffi/ffi.rs
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add documentation.
  concordium-consensus/src/Concordium/GRPC2.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve documentation and some auxiliary types.
  concordium-consensus/src/Concordium/Queries.hs
  concordium-node/src/consensus_ffi/ffi.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Bump version to 4.4.2.
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix typo in environment variable
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add changelog entry
  CHANGELOG.md
Due: none

Change rpc and listen port to be dependent on environment
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Fix typo in environment variable (#506)
  CHANGELOG.md
  concordium-node/src/configuration.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

cap params, add forced rebuild
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

fix versioning
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Add ability to extract delegators.
  concordium-consensus/src/Concordium/GlobalState/Basic/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Paired.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

remove dev tag
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

cleanup
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Fix check for database corruption.
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Improve documentation.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix check for database corruption. (#510)
  CHANGELOG.md
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlobStore.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
  service/windows/installer/Node.wxs
Due: stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add precheck to fail job if outfile already exists
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Remove forced rebuild param
  jenkinsfiles/ubuntu.Jenkinsfile
Due: none

Add image tag to static binaries image
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/deb.Dockerfile
  scripts/static-binaries/build-static-binaries.sh
Due: none

CHANGELOG update
  CHANGELOG.md
Due: none

addressing comments
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

`checkExistingDatabase` restored and deletes partial databases now
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Treestate is recreated if not readable but blockstate exists
  concordium-consensus/src/Concordium/GlobalState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/TreeState.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Documentation and update base.
  concordium-consensus/src/Concordium/GlobalState/Wasm.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add Jenkins pipeline for Ubuntu distribution (#509)
  jenkinsfiles/ubuntu.Jenkinsfile
  scripts/distribution/ubuntu-packages/build-mainnet-deb.sh
  scripts/distribution/ubuntu-packages/build-testnet-deb.sh
  scripts/distribution/ubuntu-packages/deb.Dockerfile
  scripts/static-binaries/build-static-binaries.sh
Due: none

Implement simple transfer
  concordium-node/src/grpc2.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix migration of modules.
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/Modules.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
