Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:consensus:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:globalstate:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:test:scheduler:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
    TEST_LEVEL: 1
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings -llmdb
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

adding exact hex values in tests
  plt/plt-types/src/types/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Bump version
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

CreatePLT chain update
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Token info query FFI
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  plt/plt-scheduler/src/ffi/queries.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove the `SchedulerMonad` typeclass.
  concordium-consensus/benchmarks/transactions/SchedulerBench/Helpers.hs
  concordium-consensus/src-lib/Concordium/External/DryRun.hs
  concordium-consensus/src/Concordium/KonsensusV1/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/Environment.hs
  concordium-consensus/src/Concordium/Scheduler/EnvironmentImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/InvokeContract.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/KernelImplementation.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/src/Concordium/Scheduler/TreeStateEnvironment.hs
  concordium-consensus/tests/scheduler/SchedulerTests/AccountTransactionSpecs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/BlockEnergyLimitSpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/ChainMetatest.hs
  concordium-consensus/tests/scheduler/SchedulerTests/Helpers.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenModule.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionExpirySpec.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransactionGroupingSpec2.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TransfersWithScheduleTest.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update network
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Query token info FFI
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  plt/plt-types/src/types/queries.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Extend token creation tests with token info query
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix governance account query info
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-types/src/types/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Extend token creating tests
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

rename plt-types to plt-scheduler-types
  plt/Cargo.lock
  plt/Cargo.toml
  plt/README.md
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-types/Cargo.toml
  plt/plt-scheduler-types/src/lib.rs
  plt/plt-scheduler-types/src/types.rs
  plt/plt-scheduler-types/src/types/events.rs
  plt/plt-scheduler-types/src/types/execution.rs
  plt/plt-scheduler-types/src/types/queries.rs
  plt/plt-scheduler-types/src/types/reject_reasons.rs
  plt/plt-scheduler-types/src/types/tokens.rs
  plt/plt-scheduler/Cargo.toml
  plt/plt-scheduler/src/block_state.rs
  plt/plt-scheduler/src/block_state/external.rs
  plt/plt-scheduler/src/block_state/types.rs
  plt/plt-scheduler/src/block_state_interface.rs
  plt/plt-scheduler/src/ffi/block_state_callbacks.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state.rs
  plt/plt-scheduler/tests/block_state_stub.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-scheduler/tests/utils/mod.rs
  plt/plt-token-module/Cargo.toml
  plt/plt-token-module/src/util.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
  plt/plt-token-module/tests/token_module_transfer.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

fix(sre-support): Add a retry to notarize func for macos-build
  scripts/distribution/macOS-package/build.sh
Due: none

Move block state to a separate crate
  plt/Cargo.lock
  plt/Cargo.toml
  plt/README.md
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state.rs
  plt/plt-block-state/src/block_state/blob_store.rs
  plt/plt-block-state/src/block_state/external.rs
  plt/plt-block-state/src/block_state/types.rs
  plt/plt-block-state/src/block_state_interface.rs
  plt/plt-block-state/src/ffi.rs
  plt/plt-block-state/src/ffi/blob_store_callbacks.rs
  plt/plt-block-state/src/ffi/block_state.rs
  plt/plt-block-state/src/ffi/block_state_callbacks.rs
  plt/plt-block-state/src/ffi/memory.rs
  plt/plt-block-state/src/lib.rs
  plt/plt-block-state/tests/block_state.rs
  plt/plt-block-state/tests/block_state_no_external.rs
  plt/plt-scheduler-interface/Cargo.toml
  plt/plt-scheduler-interface/src/error.rs
  plt/plt-scheduler-interface/src/lib.rs
  plt/plt-scheduler-interface/src/token_kernel_interface.rs
  plt/plt-scheduler-interface/src/transaction_execution_interface.rs
  plt/plt-scheduler/src/ffi.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
  plt/plt-scheduler/src/lib.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/src/scheduler.rs
  plt/plt-scheduler/src/scheduler/plt_scheduler.rs
  plt/plt-scheduler/src/token_kernel.rs
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/Cargo.toml
  plt/plt-token-module/src/key_value_state.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

merge
  plt/plt-scheduler-types/src/types/queries.rs
  plt/plt-scheduler/src/ffi/queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Token info query FFI
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add design docs for RBAC
  docs/p11/RBAC.md
Due: none

Describe special case for updateAdminRole revocation
  docs/p11/RBAC.md
Due: none

..
  docs/p11/RBAC.md
Due: none

Token account infos FFI
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  plt/plt-scheduler/src/ffi/queries.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update docs/p11/RBAC.md
  docs/p11/RBAC.md
Due: none

Align roles to all being verbs
  docs/p11/RBAC.md
Due: none

exec txn
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix serialization to match Haskell side
  plt/plt-scheduler-types/src/types/queries.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix pause/unpause event serialization
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_list_updates.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

specifychain
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

rollback
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

fixtest
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Remove additinal data from CBOR types where it is not used
  plt/plt-scheduler/tests/block_state_external_stubbed.rs
  plt/plt-scheduler/tests/plt_create.rs
  plt/plt-token-module/src/token_module/initialize.rs
  plt/plt-token-module/src/token_module/queries.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_account_state.rs
  plt/plt-token-module/tests/token_module_initialize.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Tests for additional fields in input CBOR
  plt/plt-token-module/tests/token_module_initialize.rs
  plt/plt-token-module/tests/token_module_update_general.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

threadidtrace
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

trace
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-block-state/src/ffi/memory.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Separate socket read and write buffers.
  concordium-node/src/connection/low_level.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

threadtrace
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  plt/plt-block-state/src/ffi/memory.rs
  plt/plt-scheduler/src/ffi/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Dispatch chain updates to Rust library, use IORef instead of MVar
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

merge
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Common.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
  concordium-consensus/tests/consensus/ConcordiumTests/MerkleProofs.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Dispatch token update transactions to rust scheduler
  concordium-consensus/src/Concordium/Scheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Module.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/Queries.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenCreation.hs
  concordium-consensus/tests/scheduler/SchedulerTests/TokenHolderTransactions.hs
  plt/plt-scheduler-types/src/types/queries.rs
  plt/plt-scheduler/src/ffi/queries.rs
  plt/plt-scheduler/src/queries.rs
  plt/plt-scheduler/tests/plt_queries.rs
  plt/plt-scheduler/tests/plt_updates.rs
  plt/plt-token-module/src/token_module/update.rs
  plt/plt-token-module/tests/kernel_stub.rs
  plt/plt-token-module/tests/token_module_burn.rs
  plt/plt-token-module/tests/token_module_list_updates.rs
  plt/plt-token-module/tests/token_module_mint.rs
  plt/plt-token-module/tests/token_module_pause.rs
Due: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Set Haskell compatible hash for empty plt state
  plt/plt-block-state/Cargo.toml
  plt/plt-block-state/src/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Set Haskell compatible hash for empty plt state
  plt/plt-block-state/src/block_state.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
