Repository Concordium/concordium-node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, stack:build, lint:clippy, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Path conditions:
  lint:fmt: any of: **/*.rs
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  lint:clippy: any of: **/Cargo.toml, **/*.rs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/lmdb
  stack:test:consensus: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:globalstate: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  stack:test:scheduler: any of: **/*.yaml, **/*.hs, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb
  cargo:test: any of: **/Cargo.toml, **/*.rs, **/*.hs, **/*.yaml, concordium-base, concordium-consensus/smart-contracts, concordium-consensus/haskell-lmdb

Path
  plt/plt-block-state/src/persistent/trie.rs
  plt/plt-block-state/src/persistent/trie/path.rs
  plt/plt-block-state/src/persistent/trie/path_byte.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fixed build-all.ps1 to select only the first dlltool match.
  scripts/distribution/windows/build-all.ps1
Due: none

Path
  plt/plt-block-state/src/persistent/trie.rs
  plt/plt-block-state/src/persistent/trie/path.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Path
  plt/plt-block-state/src/persistent/trie/path.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix GNU dlltool version banner validation
  scripts/distribution/windows/build-all.ps1
Due: none

8bitlength
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove first chunk from path
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove first chunk from stem
  plt/plt-block-state/src/persistent/trie.rs
  plt/plt-block-state/src/persistent/trie/path.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove first chunk from stem
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Remove first chunk from stem
  plt/plt-block-state/src/persistent/block_state/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Serialize path lenghth as 2 bytes
  plt/plt-block-state/src/persistent/trie.rs
  plt/plt-block-state/src/persistent/trie/path.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Serialize path lenghth as 2 bytes
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Serialize path lenghth as 2 bytes
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/CredentialDeploymentTests.hs
  concordium-consensus/tests/consensus/ConcordiumTests/EndToEnd/TransactionTableIntegrationTest.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/CatchUp.hs
  concordium-consensus/tests/consensus/ConcordiumTests/KonsensusV1/Consensus/Blocks.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Add workflow for promoting a concordium/node image as `latest`
  .github/workflows/docker-promote-latest.yaml
  scripts/distribution/docker-image/README.md
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Fix first-time Docker latest promotion
  .github/workflows/docker-promote-latest.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

exclude teardown from branchmarks
  plt/plt-scheduler/benches/block_state_size.rs
  plt/plt-scheduler/benches/scheduler.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Add lock transfer operation benchmarks by varying block state
  plt/plt-scheduler/benches/block_state_size.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Improve lock grants representation
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
  plt/plt-scheduler/src/protocol_level_locks/lock_configuration.rs
  plt/plt-scheduler/tests/lock_create.rs
  plt/plt-scheduler/tests/utils/lock.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix tests
  plt/plt-block-state/src/persistent/block_state/p11.rs
  plt/plt-scheduler/benches/block_state_size.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

PR feedback
  plt/plt-block-state/src/persistent/protocol_level_locks/p11.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

Fix missing trait fns
  plt/plt-block-state/src/persistent/smart_contract_trie.rs
Due: lint:fmt, stack:build, lint:clippy, cargo:build-bench, cargo:test

..
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ExternalChainParameters.hs
  concordium-consensus/src/Concordium/GlobalState/Persistent/BlockState/ProtocolLevelTokens/RustPLTBlockState.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler.hs
  concordium-consensus/src/Concordium/Scheduler/ProtocolLevelTokens/RustPLTScheduler/Queries.hs
  concordium-consensus/tests/scheduler/SchedulerTests/UpdateCredentials.hs
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

Update workflow/docker-e2e actions to latest
  .github/workflows/docker-e2e.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test

devnet-3 version bump
  CHANGELOG.md
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

devnet-3 version bump
  CHANGELOG.md
  concordium-node/Cargo.lock
  concordium-node/Cargo.toml
Due: stack:build, lint:clippy, cargo:build-bench, cargo:test

Deactivate non-docker release flow
  .github/workflows/release.yaml
Due: stack:build, stack:test:consensus, stack:test:globalstate, stack:test:scheduler, cargo:build-bench, cargo:test
